<div class="bar">
	<div class="bar-sub-a"></div>
	<div class="bar-sub-b">
		<h1>{-$TITLE}</h1>
	</div>
	<div class="bar-sub-c"></div>
</div>
{-if $own}
<div class="options-a">
	<div class="box-main-a-1"></div>
	<div class="box-main-a-2 options-a-2">
    	<button class="jui-button" icon="ui-icon-plus" onclick="location.href='galleries.php?c=new_album'">
            {-$galleries_new_album}
        </button>
        <button class="jui-button" icon="ui-icon-person" onclick="location.href='galleries.php?c=galleries&list=own'">
            {-$galleries_list_my}
        </button>
        <button class="jui-button" icon="ui-icon-image" onclick="location.href='galleries.php?c=galleries&list=all'">
            {-$galleries_list_all}
        </button>
        <button class="jui-button" icon="ui-icon-heart" onclick="location.href='galleries.php?c=galleries&list=friends'">
            {-$galleries_list_friends}
        </button>
    	<div class="clear"></div>
	</div>
	<div class="box-main-a-3"></div>
</div>
{-/if}
<div id="gallery">{-$GALLERIES}</div>