<div class="main_list_wrap" style="height: auto; display:{-$DISPLAY};" id="status-{-$STATUS_ID}">
    <div class="main_list_img_wrap" style="width: 50px;">
    <a href="profile.php?user={-$USERHASH}">{-$AVATAR}</a>
    </div>
    <div class="main_list_cont" style="width: 420px;">
        <a href="profile.php?user={-$USERHASH}" class="main_list_small_name">{-$USERNAME}</a><br />
        <div class="main_list_content">{-$STATUS_MESSAGE}</div>
        <div class="main_list_small_header">{-$SMALL_HEADER}</div>
        <div class="main_list_status_bottom">
            <span>{-$STATUS_TIME}</span> &#8226; 
            <span class="status_{-$LIKE}" id="{-$STATUS_ID}">{-$pinboard_like}</span> &#8226; 
            <span class="status_comment" id="{-$STATUS_ID}">{-$pinboard_comment}</span>
        </div>
    </div>    
        {-$RIGHT_CONT}
    <div id="likes_{-$STATUS_ID}" style="margin-left: 52px;" class="clear">{-$LIKES}</div>
    <div id="comments_box_{-$STATUS_ID}" style="margin-left: 52px;">{-$COMMENTS}</div>
</div>