.chatbox {
	position: fixed;
	//position:expression("absolute");
	width: 225px;
	top: 0px;
	right: 0px;
	display:none;       
}

.chatboxhead {
	background-color: #f99d39;
	padding:5px;
	color: #ffffff;

	border-right:1px solid #f99d39;
	border-left:1px solid #f99d39;
}

.chatboxblink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:219px;
	overflow: hidden;
	padding:2px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;              
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.chatboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

.chatboxtextareaselected {
	border: 2px solid #f99d39;
	margin:0;
}

.chatboxmessage {
	margin-left:0.3em;		
}

.coloredBG {
    background-color: #FFF;
}

.whiteBG {
    background-color: #FFFFFF;
}

.chatboxinfo {	
	color:#666666;
}

.chatboxmessageheader {
    font-size: 12px;
	border-bottom: 1px solid #eee;
}

.chatboxmessagefrom {
	font-weight: bold;
	display: inline-block;
	float: left;
	padding: 0px;
}

.chatboxmessagetime {
    font-weight: normal;
    display: inline-block;
    float: right;
    padding: 0px;
    color: #DDD;
    font-size: 11px;
}

.chatboxmessagecontent {
    padding: 0.1em;
    padding-left: 0.2em;
    font-size: 12px;        
    display: block;
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
	float: left;
}