<div class="bar">
	<div class="bar-sub-a"></div>
	<div class="bar-sub-b">
		<h1>Event: {-$events_edit_event}</h1>
	</div>
	<div class="bar-sub-c"></div>
</div>
{-$ERROR}
<div class="box-main-a-1"></div>
<div class="box-main-a-2 options-a-2">
    <button class="jui-button" onclick="location.href='events.php'">{-$events_events}</button>
</div>
<div class="box-main-a-3" style="margin-bottom: 10px;"></div>
<div class="profile" style="overflow: visible;">
    <form action="events.php?c=edit&e={-$EVENT_ID}" method="POST" enctype="multipart/form-data">
	<!-- Picture Box Start  -->
	<div class="profile-box">
		<div class="profile-box-pic">
		<img src="{-$PIC_SRC}" />
		</div>
	</div>
	<div class="profile-info" style="overflow: visible;">

    <div class="main_info_1"></div>
    <div class="main_info_2" style="width: 330px; overflow: visible;">
        <div class="info_line">
            <div class="info_label" style="width: 110px;">{-$events_name}:</div><span class="info_value"><input type="text" name="name" style="width: 192px;" value="{-$NAME}"/></span>
        </div>
        <div class="info_line">
            <div class="info_label" style="width: 110px;">{-$events_place}:</div><span class="info_value"><input type="text" name="place" style="width: 192px;" value="{-$PLACE}"/></span>
        </div>
        <div class="info_line">
            <div class="info_label" style="vertical-align: top; width: 110px">{-$events_more_info}:</div><span class="info_value"><textarea style="width: 192px; height: 150px;" name="info">{-$INFO}</textarea></span>
        </div>
        <div class="info_line" style="position: relative; overflow: visible;">
            <div class="info_label" style="width: 110px;">{-$events_start}:</div><span class="info_value">
            <script language="javascript" type="text/javascript">
            $("document").ready(function(){
                $("#start").datepicker({minDate: "+0",altFormat: "yy-mm-dd", altField: '#start_date_val', dateFormat: "dd.mm.yy",dayNamesMin: ['{-$day_sun}','{-$day_mon}','{-$day_tue}','{-$day_wed}','{-$day_thu}','{-$day_fri}','{-$day_sam}'], monthNames: ['{-$month_01}','{-$month_02}','{-$month_03}','{-$month_04}','{-$month_05}','{-$month_06}','{-$month_07}','{-$month_08}','{-$month_09}','{-$month_10}','{-$month_11}','{-$month_12}']});
                $("#end").datepicker({minDate: "+0",altFormat: "yy-mm-dd", altField: '#end_date_val', dateFormat: "dd.mm.yy",dayNamesMin: ['{-$day_sun}','{-$day_mon}','{-$day_tue}','{-$day_wed}','{-$day_thu}','{-$day_fri}','{-$day_sam}'], monthNames: ['{-$month_01}','{-$month_02}','{-$month_03}','{-$month_04}','{-$month_05}','{-$month_06}','{-$month_07}','{-$month_08}','{-$month_09}','{-$month_10}','{-$month_11}','{-$month_12}']});
            })
            </script>
            <input type="text" id="start" class="event_cal_field" value="{-$START_DATE}"/>
            <input type="hidden" id="start_date_val" name="startdate" value="{-$START_DATE_VAL}"/>
            <select class="event_time_select" id="start_time_val" name="starttime">
                {-$TIME_START}
            </select>
            <div class="clear"></div></span>
        </div>
        <div class="info_line" style="position: relative; overflow: visible;">
            <div class="info_label" style="width: 110px;">{-$events_end}:</div><span class="info_value">
            <input type="text" id="end" class="event_cal_field" value="{-$END_DATE}"/>
            <input type="hidden" id="end_date_val" name="enddate" value="{-$END_DATE_VAL}"/>
            <select class="event_time_select" id="end_time_val" name="endtime">
                {-$TIME_END}
            </select>
            <div class="clear"></div></span>
        </div>
        <div class="info_line" style="border-bottom-width: 0px;">
            <div class="info_label" style="width: 110px; vertical-align: top;">{-$events_privacy}:</div><span class="info_value"><input name="privacy" id="privacy_closed" type="radio" value="0" {-$PRIVATE}/>
                <label for="privacy_closed">{-$events_closed}</label>
                <br />
                <input name="privacy" id="privacy_public" type="radio" {-$PUBLIC} value="1"/>
                <label for="privacy_public">{-$events_public}</label></span>
            </div>
    </div>
    <div class="main_info_3"></div>
    </div>

    <div class="box-main-a-1 clear" style="margin-top: 10px;"></div>
    <div class="box-main-a-2 options-a-2">
        <p style="margin: 5px 0px;"><a href="#">{-$events_upload_image}</a> :</p>
        <div  style="display: inline-block;">
            <input type="file" class="event_info_file" name="event_image_file" style="border-width: 0px;" accept="image/jpeg"/>
        </div>
        <input type="submit" value="{-$events_save}" name="save" class="jui-button" style="float: right;"/>
    </div>
    <div class="box-main-a-3"></div>
    </form>

</div>