<div class="bar">
	<div class="bar-sub-a"></div>
	<div class="bar-sub-b">
		<h1>{-$friends} - {-$friends_requests}</h1>
	</div>
	<div class="bar-sub-c"></div>
</div>
<div class="box-main-a-1"></div>
<div class="box-main-a-2 options-a-2">
    <button onclick="history.back();" class="jui-button">{-$friends_my_friends}</button>
</div>
<div class="box-main-a-3"></div>
{-$SCRIPT-FRIENDS_REQUESTS}
<div class="box-main-a-1" style="margin-top: 10px;"></div>
<div id="Requests" class="box-main-a-2"></div>
<div class="box-main-a-3"></div>