<div class="bar">
	<div class="bar-sub-a"></div>
	<div class="bar-sub-b">
		<h1>{-$friends} - {-$friends_invite_send_code}</h1>
	</div>
	<div class="bar-sub-c"></div>
</div>
<div class="box-main-a-1"></div>
<div class="box-main-a-2 options-a-2">    
    <button onclick="location.href='friends.php';" class="jui-button">{-$friends_my_friends}</button>
</div>
<div class="box-main-a-3" style="margin-bottom: 10px;"></div>
{-$MSG}
<div class="box-main-a-1"></div>
<div class="box-main-a-2">
{-$SCRIPT-INVITE_FRIENDS}
<p><b>{-$friends_invite_info}</b></p>
<form action="friends.php?c=invite" method="POST" id="form">
<span class="sendmessage_line">
    <label for="email" style="width: 120px;">{-$friends_invite_add_email}</label>
    <input type="email" id="email" placeholder="E-Mail" autocomplete="on" style="width: auto; margin-right: 10px;"/><button id="add_mail" class="jui-button" type="button">{-$friends_invite_add_email}</button>                    
</span>
<span class="sendmessage_line">
    <label for="email" style="width: 120px; vertical-align: top;">{-$friends_invite_to}</label>
    <div id="to" style="display: inline-block; width: 400px;"></div>
</span>
<span class="sendmessage_line">
    <label for="msg" style="width: 120px; vertical-align: top;">{-$friends_invite_message}:</label>
    <div style="display: inline-block; width: 400px;">
    <div style="float: right; font-size: 11px; font-weight: bold; color: #666;">{-$friends_invite_still} <span id="charLeft">500</span> {-$friends_invite_char_left}</div>
    <div class="clear"></div>
    <textarea maxlength="500" name="message" cols="38" rows="6" id="msg" style="display: inline-block; width: 400px;">{-$friends_invite_example_msg}</textarea>
    </div>
</span>
</div>
<div class="box-main-a-3"></div>
<div class="box-main-a-1" style="margin-top: 10px;"></div>
<div class="box-main-a-2 options-a-2">
    <input class="jui-button" type="submit" value="{-$friends_invite_send}" style="float: right"/>
</div>
<div class="box-main-a-3"></div>                    
</form>