{-$SCRIPT-MEMBERLIST}
<div class="bar">
	<div class="bar-sub-a"></div>
	<div class="bar-sub-b">
		<h1>{-$memberlist_users}</h1>
	</div>
	<div class="bar-sub-c"></div>
</div>
<table class="grid-share" summary="Gird Share File">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col"><a href="members.php?s=nickname">{-$memberlist_user_name}</a></th>
			<th scope="col"><a href="members.php?s=firstname">{-$memberlist_first_name}</a></th>
			<th scope="col"><a href="members.php?s=lastname">{-$memberlist_last_name}</a></th>
			<th scope="col"><a href="members.php?s=town">{-$memberlist_city}</a></th>
			<th scope="col"><a href="members.php?s=registered">{-$memberlist_registered}</a></th>
		</tr>
	</thead>
    {-$LIST}
</table>