<!-- Box A Buttons box Start -->
<div class="box-main-a">
	<!-- Main Blue bar Start -->
    <div class="bar">
    	<div class="bar-sub-a"></div>
    	<div class="bar-sub-b">
    		<h1>{-$TITLE}</h1>
    	</div>
    	<div class="bar-sub-c"></div>
    	<div class="clear"></div>
    </div>
    <!-- Main Blue bar End -->
    <div class="clear"></div>
    <div class="box-main-a-1"></div>
    <div class="box-main-a-2">{-$TEXT}</div>
    <div class="box-main-a-3"></div>
<!-- Box A  Sub Start -->
</div>