<div class="bar">
	<div class="bar-sub-a"></div>
	<div class="bar-sub-b">
		<h1>{-$register}</h1>
	</div>
	<div class="bar-sub-c"></div>
</div>
{-$SCRIPT-REGISTER}
<div class="message_red" style="display: none;" id="error">{-$register_error}</div>
<div id="load" style="display: none">
<div class="box-main-a-1" style="margin-top: 10px;"></div>
<div class="box-main-a-2" style="text-align:center">
	<img src="style/default/img/load.gif"/>
</div>
<div class="box-main-a-3"></div>
</div>
<div style="display:none;" id="register_success">
<div class="box-main-a-1" style="margin-top: 10px;"></div>
<div class="box-main-a-2">	
	<div style="background: url('style/newcunity/img/check.png') left top no-repeat; padding-left: 58px;height:70px;">
		<h2 style="padding: 5px 0px;">{-$register_thanks}</h2>		
        <p style="font-size: 13px;">{-$register_success_account}</p>
	</div>
</div>
<div class="box-main-a-3"></div>
</div>
<form action="register.php" method="post" id="register_form" style="font-size:14px;width:550px">
	<div class="box-main-a-1" style="margin-top: 10px;"></div>
	<div class="box-main-a-2">
    <table border="0" width="531px">
        <colgroup>
            <col width="210px" />
            <col width="340px" />
        </colgroup>
        
        <tr>
            <td><label for="nickname">{-$profile_view_nick}<span class="required_star">*</span></label></td>

            <td><input type="text" name="nickname" id="nickname" class="inp" onkeyup="checkField('nickname',$(this).val(),true)"/><span id="nickname_checked"></span></td>
        </tr>
        
        {-$NAMES}

        <tr>
            <td><label for="mail1">E-Mail<span class="required_star">*</span></label></td>

            <td><input type="text" name="mail1" id="mail1"  class="inp" onkeyup="checkField('mail',$(this).val(),true)"/><span  id="mail_checked"></span></td>
        </tr>

        <tr>
            <td><label for="mail2">{-$register_rpt}<span class="required_star">*</span></label></td>

            <td><input type="text" name="mail2" id="mail2"  class="inp" onkeyup="compareField($('#mail1').val(),$(this).val(),'mail2');"/><span  id="mail2_checked"></span></td>
        </tr>

        <tr>
            <td><label for="pw1">{-$register_pw}<span class="required_star">*</span></label></td>

            <td><input type="password" name="pw1" id="pw1"  class="inp" onkeyup="checkFieldLength($(this).val(),6,'pw1');"/><span  id="pw1_checked"></span></td>
        </tr>

        <tr>
            <td><label for="pw2">{-$register_rpt}<span class="required_star">*</span></label></td>

            <td><input type="password" name="pw2" id="pw2" onkeyup="compareField($('#pw1').val(),$(this).val(),'pw2');"/><span  id="pw2_checked"></span></td>
        </tr>
        
        <tr>
            <td>
                <label id="title_label">{-$register_address}<span class="required_star">*</span></label>
            </td>
            <td>    
            	<select name="sex" style="width:227px;padding:4px;">
            		<option value="1">{-$register_mr}</option>
            		<option value="0">{-$register_mrs}</option> 
            	</select>                              			
            </td>
        </tr>
		<tr>
			<td>
				<label for="birthday">{-$register_birthday}<span class="required_star">*</span></label>
			</td>
			<td>
				<select id="day" name="day" style="padding:4px">
					{-$DAYS}
				</select>
				<select id="month" name="month" style="padding:4px">
					{-$MONTHS}
				</select>
				<select id="year" name="year" style="padding:4px">
					{-$YEARS}
				</select>
				<span id="birthday_checked"></span>
			</td>
		</tr>
        {-$NEW_FIELDS}
        <tr><td></td></tr>
        <tr>
            <td colspan="2"><input type="checkbox" id="terms" name="terms" value="yes" /> <label for="terms" id="terms_label">{-$register_accept} <a href="javascript: showPage('terms');" style="text-decoration: underline;">{-$register_terms}</a></label></td>
        </tr>

        <tr>
            <td colspan="2"><input type="checkbox" id="privacy" name="privacy" value="yes"/> <label for="privacy" id="privacy_label">{-$register_accept} <a href="javascript: showPage('privacy');" style="text-decoration: underline;">{-$register_privacy}</a></label></td>
        </tr>
    </table>
    </div>
    <div class="box-main-a-3"></div>
    <div class="box-main-a-1" style="margin-top: 10px;"></div>
	<div class="box-main-a-2" style="text-align:right">
    	<button class="jui-button" type="submit" name="subm" id="subReg" style="font-size: 15px;">{-$register_button}</button>
    </div>
    <div class="box-main-a-3"></div>
</form>
<div id="terms_dialog" title="{-$register_terms}">{-$TERMS}</div>
<div id="privacy_dialog" title="{-$register_privacy}">{-$PRIVACY}</div>