<ul id="submenu">

    {-if $index}
	{-/if}

	{-if $overview}
		<li {-$stats_sub}><a href="overview.php?c=stats">{-$admin_submenu_statistics}</a></li>
		<!-- <li {-$update_sub}><a href="update.php">{-$admin_submenu_updates}</a></li> -->
	{-/if}

	{-if $round_mail}
		<li {-$overview_sub}><a href="round_mail.php?c=overview">{-$admin_submenu_overview}</a></li>
		<li {-$new_sub}><a href="round_mail.php?c=new">{-$admin_submenu_new}</a></li>
	{-/if}


	{-if $users}
		<li {-$general_sub}><a href="users.php?c=general">{-$admin_submenu_general}</a></li>
		<li {-$list_sub}><a href="users.php?c=list">{-$admin_submenu_user_list}</a></li>
	{-/if}

	{-if $settings}
		<li {-$general_sub}><a href="settings.php?c=general">{-$admin_submenu_general}</a></li>
		<li {-$page_layout_sub}><a href="settings.php?c=page_layout">{-$admin_submenu_page_layout}</a></li>
		<li {-$menu_sub}><a href="settings.php?c=menu">{-$admin_submenu_menu}</a></li>
		<li {-$language_sub}><a href="settings.php?c=language">{-$admin_submenu_language}</a></li>
		<li {-$smtp_sub}><a href="settings.php?c=smtp">{-$admin_submenu_smtp}</a></li>
		<li {-$pages_sub}><a href="settings.php?c=pages">{-$admin_submenu_terms}</a></li>
	{-/if}

    {-if $opencunity}
        <li {-$general_sub}><a href="opencunity.php">{-$admin_submenu_general}</a></li>
    {-/if}
    
	{-if $registration}
	    <li {-$general_sub}><a href="registration.php?c=general">{-$admin_submenu_general}</a></li>
		<li {-$fields_sub}><a href="registration.php?c=fields">{-$admin_submenu_fields}</a></li>
	{-/if}

    {-if $modules}
		<li {-$overview_sub}><a href="modules.php?c=overview">{-$admin_submenu_overview}</a></li>
		<li {-$fshare_sub}><a href="modules.php?c=fshare">{-$admin_submenu_filesharing}</a></li>
		<li {-$friends_sub}><a href="modules.php?c=friends">{-$admin_submenu_friends}</a></li>
		<li {-$chat_sub}><a href="modules.php?c=chat">{-$admin_submenu_chat}</a></li>
	{-/if}
	{-if $update}
	    <li><a href="overview.php?c=stats">{-$admin_submenu_statistics}</a></li>
		<li class="active"><a href="update.php">{-$admin_submenu_updates}</a></li>
	{-/if}

</ul>

<div id="content">
	<div class="padder" id="mainpadder">