<h3>{-$admin_settings_profile_settings}</h3>

<div class="padder message">{-$MSG}</div>

<form method="POST" action="settings.php?c=profiles">

<table>

	<tr>
		<th colspan="3" class="tab_headline">{-$admin_settings_profile_extension}</th>
	</tr>
	<tr>
		<th class="padder tab_label">{-$admin_settings_profile_fields}</th>
		<td class="padder tab_value">{-$NEW_FIELDS_LIST}</td>
		<td class="padder tab_value">{-$admin_settings_profile_exist}
		<br>{-$admin_settings_profile_mandatory}<a href="settings.php?c=general">{-$admin_settings_profile_here}</a>{-$admin_settings_profile_registration}</td>
	</tr>
	<tr>
		<th class="padder tab_label">{-$admin_settings_profile_delete}</th>
		<td class="padder tab_value"><select name="field_to_del">{-$NEW_FIELDS_LIST_DEL}</select>
		<br>
		<br><input type="submit" value="{-$admin_settings_profile_delete}" name="del" class="jui-button"></td>
		<td class="padder tab_value">{-$admin_settings_profile_important}</td>
	</tr>

</table>

<form method="POST" action="settings.php?c=profiles">

<table>

	<tr>
		<th colspan="3" class="tab_headline">{-$admin_settings_profile_extend}</th>
	</tr>
	<tr>
		<th class="padder tab_label">{-$admin_settings_profile_type}</th>
		<td class="padder tab_value"><select id="field_type" name="field_type">
			<option value="0">{-$admin_settings_profile_text}</option>
			<option value="1">{-$admin_settings_profile_area}</option>
			<option value="2">{-$admin_settings_profile_radio}</option>
			<option value="3">{-$admin_settings_profile_selection}</option>
		</select></td>
		<td class="padder tab_value">{-$admin_settings_profile_option}</td>
	</tr>
	<tr>
		<th class="padder tab_label">{-$admin_settings_profile_name}</th>
		<td class="padder tab_value"><input id="field_name" type="text" name="field_name" value=""></td>
		<td class="padder tab_value">{-$admin_settings_profile_enter}</td>
	</tr>
	<tr id="new_values" class="hidden">
		<th class="padder tab_label">{-$admin_settings_profile_value}</th>
		<td class="padder tab_value">
			<a href="new_value">{-$admin_settings_profile_new_value}</a> (max 5)
			<div id="new_values_list">

			</div>
		</td>
		<td class="padder tab_value">{-$admin_settings_profile_value_radio}</td>
	</tr>
	<tr id="def_value">
		<th class="padder tab_label">{-$admin_settings_profile_standard}</th>
		<td class="padder tab_value" id="field_default"><input type="text" name="field_default" value=""></td>
		<td class="padder tab_value">{-$admin_settings_profile_value_standard}</td>
	</tr>
	<tr id="dealing1">
		<th class="padder tab_label">{-$admin_settings_profile_treat}</th>
		<td class="padder tab_value"><input type="radio" name="field_required" value="0" class="input_radio" checked="checked">{-$admin_settings_profile_no_mandatory}</td>
		<td class="padder tab_value">{-$admin_settings_profile_no_mandatory}
		<br>{-$admin_settings_profile_created}</td>
	</tr>
	<tr id="dealing2">
		<th>&nbsp;</th>
		<td class="padder tab_value"><input type="radio" name="field_required" value="1" class="input_radio"/> {-$admin_settings_profile_mandatory}</td>
		<td class="padder tab_value">{-$admin_settings_profile_mandatory}:
		<br>{-$admin_settings_profile_create2}</td>
	</tr>
	<tr id="dealing3">
		<th>&nbsp;</th>
		<td class="padder tab_value"><input type="radio" name="field_required" value="2" class="input_chkbox"/>{-$admin_settings_profile_mandatory2}</td>
		<td class="padder tab_value">{-$admin_settings_profile_mandatory2}:
		<br>{-$admin_settings_profile_field_created}
		{-$admin_settings_profile_registration}</td>
	</tr>
	<tr>
		<td colspan="3" class="tab_spacer">&nbsp;</td>
	</tr>



	<tr>
		<th colspan="3" class="tab_headline">{-$admin_settings_profile_save}</th>
	</tr>
	<tr>
		<td colspan="3" class="padder centered">
			<input type="submit" value="{-$admin_settings_profile_save}" name="save" class="jui-button">
		</td>
	</tr>
	<tr>
		<td colspan="3" class="tab_spacer">&nbsp;</td>
	</tr>

</table>

</form>

<script type="text/javascript">
<!--
	$('#field_type').change(function(){
		if($(this).val() > 1)
			$('#new_values').show(0);
		else
			$('#new_values').hide(0);
	});

	$('a[href=new_value]').click(function(evt){
		evt.preventDefault();
		var vals = $('#new_values_list').find('input').length;
		if(vals >= 0 && vals < 5) {
			$('<input type="text" name="field_values[' + vals + ']" class="field_values">')
				.appendTo('#new_values_list')
				.css('display', 'none')
				.slideDown('medium');
		}
	});
-->
</script>