<div class="main_list_status_bottom">    
    <button class="img_time" title="if there is no time, the photo was uploaded with an old version of cunity, where the upload times were not logged!">{-$TIME}</button><button class="img_like" style="display: {-$LIKE_DISPLAY};" id="{-$IMG_ID}">{-$pinboard_like}</button><button class="img_dislike" style="display: {-$DISLIKE_DISPLAY};" id="{-$IMG_ID}">{-$pinboard_dislike}</button><button class="img_comment">{-$pinboard_comment}</button>
</div>
<script language="javascript" type="text/javascript">
$("document").ready(function(){
    $(".img_time").button({
        icons: {
            primary: 'ui-icon-clock'
        }
    });
    $(".img_like").button({
        icons: {
            primary: 'ui-icon-heart'
        }
    });
    $(".img_dislike").button({
        icons: {
            primary: 'ui-icon-close'
        }
    });
    $(".img_comment").button({
        icons: {
            primary: 'ui-icon-comment'
        }
    })
    $(".main_list_status_bottom").buttonset();    
})
</script>