<div class="box-main-a-1"></div>
<div class="event_list_wrap box-main-a-2" id="event_{-$EVENT_ID}" style="position: relative;">
    <div class="event_list_img_wrap">
        <a href="events.php?e={-$EVENT_HASH}"><img src="{-$EVENT_IMG}" class="event_list_img"/></a>
        <div class="event_list_img_guests">{-$GUESTS} {-$events_guests}</div>
    </div>
    <div class="event_list_cont" style="width: 180px;">
        <a class="event_list_name" href="events.php?e={-$EVENT_HASH}">{-$EVENT_NAME}</a>
        <div class="event_list_owner">{-$events_created_by} <a href="profile.php?user={-$FOUNDER_HASH}" class="owner_link">{-$FOUNDER_NAME}</a></div>
        <div class="event_list_time">{-$TIME}</div>
    </div>

    <div class="buttonset event_list_att_cont">
        <div><button class="attending_button" class="jui-button">{-$ATTENDING}</button><button onclick="attendingDropDown();"class="jui-button" icon="ui-icon-triangle-1-s" text="0">{-$events_select_rsvp}</button></div>
    </div>
    <ul id="attending_dropdown" class="ui-widget ui-widget-content ui-corner-all ui-menu" style="display: none; width: 130px; position: absolute; right: 24px; top: 32px; text-align: left;"><li class="ui-menu-item"><a class="ui-corner-all" href="javascript:respondInvitation({-$EVENT_ID},3,'{-$events_im_yes_attending}');">{-$events_im_yes_attending}</a></li><li class="ui-menu-item"><a class="ui-corner-all" href="javascript:respondInvitation({-$EVENT_ID},2,'{-$events_im_maybe_attending}');">{-$events_im_maybe_attending}</a></li><li class="ui-menu-item"><a class="ui-corner-all" href="javascript:respondInvitation({-$EVENT_ID},1,'{-$events_im_not_attending}');">{-$events_im_not_attending}</a></li><li class="ui-menu-item"><a class="ui-corner-all" href="javascript:removeEvent({-$EVENT_ID});">{-$events_remove_event}</a></li></ul>
    <div class="clear"></div>
</div>
<div class="box-main-a-3" style="margin-bottom: 10px;"></div>