<div id="file-details">
<div id="file-details-left">
    <div id="file-info">
        <div style="min-height: 75px">
            <h1>{-$TITLE}</h1>
            <h3>{-$filesharing_uploaded_by} <a href="profile.php?user={-$OWNERHASH}">{-$OWNER}</a></h3>
            <p id="file-info-description">{-$DESCRIPTION}</p>
        </div>
        <div style="height:16px;padding:5px 0">
            <span style="float:right">{-$filesharing_size}: {-$SIZE}</span>
            <span style="float: left;background: url('style/newcunity/img/clock.png') no-repeat left;padding-left:20px">{-$filesharing_uploaded}: {-$TIME}</span>
            <span style="float: left;background: url('style/newcunity/img/share.png') no-repeat left;padding-left:20px;margin-left:10px">{-$filesharing_shared_with} {-$SHARED}</span>
            <div class="clear"></div>
        </div>
    </div>
    <div style="padding:10px 0;border-top:1px dashed #fff">
    	<button class="jui-button" style="display:{-$DOWNLOADDISPLAY};" onclick="downloadFile({-$FILEID})" icon="ui-icon-arrowthickstop-1-s">{-$filesharing_download}</button>
    	<button class="jui-button" style="display:{-$SHAREDISPLAY};" onclick="openShareFile({-$FILEID})" icon="ui-icon-signal-diag">{-$filesharing_share}</button>
    	<button class="jui-button" style="display:{-$ADDDISPLAY};" onclick="addFile({-$FILEID})" icon="ui-icon-plusthick">{-$filesharing_add_list}</button>
        <div style="position:relative;display:inline">
            <button class="jui-button" onclick="dropDown();" icon2="ui-icon-triangle-1-s" icon="ui-icon-gear" text="0">&nbsp;</button>
            <ul id="fileDrop" class="ui-widget ui-widget-content ui-corner-all ui-menu status_dropdown_menu" style="display: none; z-index:999999; width: 120px; position: absolute; right: 1px; top: 20px; text-align: left;">
                <li class="ui-menu-item" style="display:{-$OWN_DISPLAY}">
                    <a class="ui-corner-all" href="javascript:deleteFile({-$FILEID});">{-$filesharing_delete_file}</a>
                </li>
                <li class="ui-menu-item" style="display:{-$UNSHARE_DISPLAY}">
                    <a class="ui-corner-all" href="javascript:unshareFile({-$FILEID})">{-$filesharing_unshare_file}</a>
                </li>
                <li class="ui-menu-item" style="display:{-$OWN_DISPLAY}">
                    <a class="ui-corner-all" href="javascript:editFile({-$FILEID})">{-$filesharing_edit_file}</a>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-top: 1px dashed #fff;display:none" id="shareWrap">
        <h1>{-$filesharing_select_friends}</h1>
        <div style="height: 214px;width:445px;border-bottom: 1px dashed #fff" id="shareFriends"></div>
        <div style="text-align: right;padding:5px"><button icon="ui-icon-closethick" class="jui-button" onclick="$('#shareWrap').slideUp(100);">{-$filesharing_cancel}</button><button class="jui-button" icon="ui-icon-signal-diag" onclick="shareFile({-$FILEID});">{-$filesharing_share}</button></div>
    </div>
</div>
<div id="file-details-right">
    <div id="file-comment-area">
        <div style="border-bottom:1px dashed #fff;padding:10px 5px;display:{-$COMMENTDISPLAY}">
            <button class="jui-button" id="likeButton" style="display:{-$LIKEDISPLAY};" onclick="likeFile({-$FILEID});" icon="ui-icon-heart" style="margin-right: 5px">{-$filesharing_like}</button>
            <button class="jui-button" id="dislikeButton" style="display:{-$DISLIKEDISPLAY};" onclick="dislikeFile({-$FILEID});" icon="ui-icon-closethick" style="margin-right: 5px">{-$filesharing_dislike}</button>
            <button class="jui-button"  onclick="newComment();" icon="ui-icon-comment">{-$filesharing_comment}</button>
    	</div>
    	<div id="file-like-area" style="border-bottom: 1px dashed #fff;">
            <div id="like_container">
            	<div id="image_likes" style="float: left;width:180px">
            		<a href="javascript: showLikes({-$FILEID},0);">{-$filesharing_likes} (<span id="likeCount">{-$LIKESCOUNT}</span>)</a>
            		<div style="overflow:hidden;height:35px;width:180px;" id="likeImages">{-$LIKES}</div>
            	</div>
            	<div id="image_dislikes" style="float: left;width: 180px;">
            		<a href="javascript: showLikes({-$FILEID},1);">{-$filesharing_dislikes} (<span id="dislikeCount">{-$DISLIKESCOUNT}</span>)</a>
            		<div style="overflow:hidden;height:35px;width:180px" id="dislikeImages">{-$DISLIKES}</div>
            	</div>
            	<div class="clear"></div>
        	</div>
        </div>
        <div style="padding:5px;height:302px;overflow-y:auto;overflow-x:hidden" id="comment_wrap">
    		<h3>{-$filesharing_comments} ({-$COMMENTSCOUNT})</h3>
    		<div id="comments_abs">
    			<div id="comments_box">{-$COMMENTS}</div>
                <div id="comments" class="file_comment comment" style="border-bottom: 0;display:{-$COMMENTDISPLAY}">
                    <div style="display: inline-block; padding: 1px; float: left;">
                        <img src="{-$AVATAR}" id="comment_avatar" style="height: 40px; width: 40px; visibility: ;"/>
                    </div>
                    <div style="display: inline-block; float: left;">
                    <textarea class="new_comment_area" name="comment" id="comment_area" style="width: 278px; height: 22px;"></textarea>
                    <div style="margin-top: 1px;display: ;" id="send_comment">
                    <button class="jui-button" onclick="comment({-$FILEID},$('#comment_area').val());" disabled="disabled" name="comment" style="float: right;">{-$filesharing_comment}</button>
                    <img src="style/newcunity/img/loading.gif" style="float: right; margin: 7px; display: none;" id="send_comment_load"/>
                    <div class="clear"></div>
                    </div>
                    </div>
                    <div class="clear"></div>
                </div>
    		</div>
    	</div>
    </div>
</div>
<div class="clear"></div>
</div>