<div style="width:300px !important;height: 100% !important;text-align:left;" id="imgLikeInfo">
<div id="mainImgInfo">
	<div style="padding:10px;border-bottom: 1px dashed #ccc">
		<img src="{-$AVATAR}" style="width: 50px; height:50px;float:left;margin-right:7px"/>
		<div style="float:left; width: 210px">
		<a href="profile.php?user={-$USERHASH}" style="display:block;padding: 5px 0; font-weight:bold">{-$USERNAME}</a>
		<span style="color: #999;font-size:11px">{-$TIME}</span>
		</div>
		<div class="clear" style="padding-top: 10px;">
		<p>{-$galleries_image} {-$X} {-$galleries_of} {-$Y} {-$galleries_from_album} <a href="galleries.php?c=show_album&id={-$ALBUMID}">{-$ALBUMNAME}</a></p>
		</div>
	</div>	
	<div style="padding:10px;border-bottom:1px dashed #ccc">
	<button class="jui-button" id="imgLike" style="display:{-$LIKE_DISPLAY};" onclick="likeImage({-$IMG_ID},{-$CID});" icon="ui-icon-heart" style="margin-right: 5px">{-$galleries_like}</button>
	<button class="jui-button" id="imgDislike" style="display:{-$DISLIKE_DISPLAY};" onclick="dislikeImage({-$IMG_ID},{-$CID});" icon="ui-icon-closethick" style="margin-right: 5px">{-$galleries_dislike}</button>
	<div style="position:relative;display:inline">	
	<button class="jui-button edit_dropdown" icon2="ui-icon-triangle-1-s" icon="ui-icon-gear" text="0">&nbsp;</button>
	<ul id="gallery_dropdown" class="ui-widget ui-widget-content ui-corner-all ui-menu status_dropdown_menu" style="display: none; z-index:999999; width: 120px; position: absolute; right: 1px; top: 20px; text-align: left;">		        
        <!--<li class="ui-menu-item" style="display:{-$OWN_DISPLAY}">
            <a class="ui-corner-all" href="javascript: setCover({-$IMG_ID})">{-$galleries_cover_image}</a>
        </li>        -->
        <li class="ui-menu-item" style="display:{-$OWN_DISPLAY}">
            <a class="ui-corner-all" href="javascript: deleteImage({-$IMG_ID})">{-$galleries_delete_image}</a>
        </li>
<!--        <li class="ui-menu-item">
            <a class="ui-corner-all" href="javascript: downloadImage({-$IMG_ID})">{-$galleries_download_image}</a>
        </li>          -->
    </ul>
    </div>
	</div> 
	<div style="padding:10px;border-bottom:1px dashed #ccc" id="like_container">
	<div id="image_likes">	
		<a href="javascript: showImageLikes({-$IMG_ID},0);">{-$galleries_likes} (<span id="likeCount">{-$LIKECOUNT}</span>)</a>
		<div style="overflow:hidden;height:35px;width:280px;" id="likeImages">
		{-$LIKES}			
		</div>	
	</div>
	<div id="image_dislikes">
		<a href="javascript: showImageLikes({-$IMG_ID},1);">{-$galleries_dislikes} (<span id="dislikeCount">{-$DISLIKECOUNT}</span>)</a>
		<div style="overflow:hidden;height:35px;width:280px" id="dislikeImages">
		{-$DISLIKES}
		</div>
	</div>
	</div>	
</div>
	<div style="padding:10px 5px 10px 10px;"><div id="commentPane" style="width:285px">
		<a>{-$galleries_comments} ({-$COMMENTCOUNT})</a>		
		<div id="comments_abs" style="padding-bottom:50px;">		
			<div id="comments_box" style="width: 280px;">
			{-$COMMENTS}
			</div>
			{-$NEW_COMMENT}			
		</div>
		</div>
	</div>	
</div>