<div class="box-main-a-1"></div>
<div class="main_list_wrap box-main-a-2" style="height: 50px;">
<div class="main_list_img_wrap">
<a href="galleries.php?c=show_album&id={-$ALBUM_ID}"><img src="{-$MAIN_IMAGE}" class="main_list_img" style="max-height: 50px;"/></a>
<div class="main_list_img_photos">{-$PHOTOS} {-$galleries_photos}</div>
</div><div class="main_list_cont" style="width:380px;padding-top:10px">
<a href="galleries.php?c=show_album&id={-$ALBUM_ID}" class="main_list_name">{-$NAME}</a>
<i style="color:#3D98AA">{-$DESCRIPTION_SHORT}</i>
<div class="main_list_owner" style="margin-top:5px">{-$galleries_created_by} <a href="profile.php?user={-$USERHASH}" class="owner_link">{-$USERNAME}</a></div>
<span class="main_list_updated">{-$galleries_updated_on} {-$UPDATED}</span>
</div>
<div class="clear"></div>
</div>
<div class="box-main-a-3" style="margin-bottom: 10px;"></div>