<div class="main_list_wrap" style="height: 35px;">
    <div class="main_list_img_wrap" style="width: 35px;">
        <a href="profile.php?user={-$USERHASH}">
            <img src="{-$AVATAR}" class="main_list_img" style="width: 30px; height: 30px; padding: 3px;"/>
        </a>
    </div>
    <div class="main_list_cont" style="vertical-align: top; width: auto;">
        <div class="main_list_small_header">
            <a href="{-$LINK}">
            {-$MESSAGE}
            </a>
        </div>
        <span class="main_list_updated">{-$TIME}</span>
    </div>
</div>