@charset utf-8;
.bordered_button{background-color:#FA6301;border-color:#FA6301;border-radius:5px;border-style:solid;border-width:2px;color:#FFF;cursor:pointer;display:inline-block;font-family:inherit!important;font-size:11px!important;font-weight:900;height:21px;margin:2px 5px;overflow:visible;padding:2px 8px;width:auto}
html,body{background:#cdced6 url(img/bg-main.png) top center repeat-x;color:#333;font-family:Verdana, Arial, sans-serif;font-size:12px;margin:0;padding:0;text-align:center}
label,.info_label{color:#9AB514;font-size:1em;font-weight:900}
input,textarea{border-color:#aaa;border-radius:4px;border-style:solid;border-width:1px;padding:4px 5px;font-family:Verdana, Arial, sans-serif;font-size:12px}
select{border-color:#aaa;border-radius:4px;border-style:solid;border-width:1px;padding:2px}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
.clear{clear:both}
div{background-position:bottom}
textarea{re-size:none}
.header{height:177px;margin-bottom:10px}
.headercon{height:177px;margin:0 auto;width:998px}
.welcome-msg{background:url(img/bg-welcome.png) repeat-x;float:right;height:24px;width:272px}
.welcome-msg ul{margin:0 45px;padding:0}
.welcome-msg ul li{color:#000;float:left;font:12px Arial,Helvetica,sans-serif;padding:4px 7px}
.logo{border:none;float:left;height:114px;padding:5px 0;width:720px}
.logo img{height:104px;width:auto}
.wrapper{margin:0 auto;overflow:hidden;text-align:left;width:985px}
.top_bar{float:right;height:31px;margin-bottom:-1px;margin-right:34px;width:740px}
.top_bar_a{background:url(img/bg_not_a.png) no-repeat;float:left;height:31px;width:51px}
.top_bar_b{background:url(img/bg_not_b.png) repeat-x;float:left;height:31px;width:617px}
.top_bar_c{background:url(img/bg_not_c.png) no-repeat;float:left;height:31px;width:51px}
.notifications{border:1px solid #CCC;border-radius:5px;height:19px;margin-top:5px;padding:0;position:relative;vertical-align:middle;width:370px}
.notifications button{left:-1px;position:relative;top:-1px}
.notifications .link{color:#666;float:left;margin:2px 0 2px 10px}
.notifications .img{cursor:pointer;float:right;margin:3px}
.notifications #notification_content{background-color:#fff;border:1px solid #ccc;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top-width:0;left:2px;padding:5px;position:absolute;top:21px;width:350px;z-index:999}
#notification_content .main_list_cont{width:280px!important}
#notification_content .main_list_small_header{font-size:11px}
#notification_content .main_list_updated{float:right;font-size:10px;margin-top:10px}
.noti_a{background:url(img/bg_not_a.png) no-repeat;float:left;height:24px;width:51px}
.noti_b{background:url(img/bg_not_b.png) repeat-x;float:left;height:24px;width:200px}
.noti_c{background:url(img/bg_not_c.png) no-repeat;float:left;height:24px;width:51px}
#zone-bar ul{display:block;float:right;margin:0;padding:0;width:190px}
#zone-bar ul li{height:16px;padding:4px 5px 0}
#zone-bar ul li:hover{color:#}
#zone-bar ul li a{color:#383838;display:block;font-size:11px;font-weight:700;height:18px;text-decoration:none}
#zone-bar ul li a span{font-weight:400;position:relative}
#zone-bar ul li a span em{float:right;position:relative}
#zone-bar ul li ul{background:none repeat scroll 0 0 #FFF;border:1px solid #CCC;display:none;left:448px;padding:5px 0 0;position:absolute;top:213px;width:280px;z-index:1000}
#zone-bar ul li ul li{float:none;height:100%;margin:0;padding:0;width:190px}
#zone-bar ul li ul li:hover{background:none}
#zone-bar ul li ul li a{display:block;float:none;font-weight:400;padding:5px 0 0 10px;width:190px}
#zone-bar ul li ul li a:hover{background:#02b4f0}
.searchcon{border:1px solid #ff6900;width:180px}
.a_side{float:left;margin-top:50px;width:169px}
.a_side_a{background:url(img/a_side_a.png) no-repeat;height:10px;overflow:hidden;width:169px}
.a_side_b{background:url(img/a_side_b.png) repeat-y;overflow:hidden;width:169px}
.a_side_c{background:url(img/a_side_c.png) no-repeat;height:10px;margin-bottom:10px;width:169px}
.profile_main{overflow:hidden;width:100%}
.profile_main a{width:100%;text-align:center}
.profile_main img{height:120px;margin:10px auto 5px auto;width:120px;padding:2px;background:#fff;border:1px solid #ccc}
.profile_main h1{color:#CC00FF;font:14px Arial, Helvetica, sans-serif;padding:0 22px}
.profile_main h1 a{color:#9ab514;text-decoration:none}
.main_nav{margin:5px 0}
.main_nav ul{margin:10px 0 10px 10px;padding:0}
.main_nav ul li{color:#000;cursor:pointer;font:12px Arial, Helvetica, sans-serif;height:18px;padding:10px;width:150px}
.main_nav ul li img{float:left;margin:-4px 10px -4px 3px}
.main_nav ul li:hover,.main_nav ul li.active{background:url(img/bg_main_nav.png) no-repeat;color:#FFF;text-decoration:none}
.main_nav ul li.active a{color:#FFF;text-decoration:none}
.menubar{background-image:url(img/bg_menu.png);color:#fff;font:12px;font-weight:700;height:15px;margin-bottom:10px;padding:5px;width:212px;z-index:9999}
.main{float:left;margin:0 0 10px;width:813px}
.main_info_1{background:url(img/box-info-1.png) no-repeat;height:15px;width:350px}
.main_info_2{background:url(img/box-info-2.png) repeat-y;overflow:hidden;padding:0 10px}
.main_info_3{background:url(img/box-info-3.png) no-repeat;height:15px;width:350px}
.small_info_1{background:url(img/box-small-1.png) no-repeat;height:15px;width:200px}
.small_info_2{background:url(img/box-small-2.png) repeat-y;overflow:hidden;padding:0 10px}
.small_info_3{background:url(img/box-small-3.png) no-repeat;height:15px;width:200px}
.main_a{background:url(img/content_a.png) no-repeat;height:10px;overflow:hidden;width:814px}
.main_b{background:url(img/content_b.png) repeat-y;overflow:hidden;width:814px}
.main_c{background:url(img/content_c.png) no-repeat;height:10px;width:814px}
.main_col_a{float:left;padding:0 10px 10px;width:654px}
.main_col_b{float:left;width:130px}
.main_page_col_a{float:left;height:auto!important;min-height:830px;padding:0 10px 10px;width:571px}
.main_page_col_b{float:right;width:210px}
.main_col_a h1{color:#9AB514;font:bold 13px Arial, Helvetica, sans-serif;padding:10px 0 10px 20px}
.bar{height:32px;margin-bottom:10px;width:571px}
.bar-big{margin-bottom:10px;width:571px;background-color: #00C1E7; border-radius: 7px;}
.bar-big h1 {font:bold 13px Arial, Helvetica, sans-serif;color:white; padding: 8px 10px;}
.bar_b{background:url(img/bar_b.png) repeat-x;float:left;height:32px;overflow:hidden;width:638px}
.bar-sub-b{background:url(img/bar_b.png) repeat-x;float:left;height:32px;overflow:hidden;width:555px}
.line-grey{border-bottom:1px solid #eaeaeb;height:1px;margin:3px 0;width:100%}
#pagination{margin:10px auto;width:330px}
#pagination ul{border:0;margin:0;padding:0}
#pagination li{border:0;display:inline-block;float:left;font-size:11px;list-style:none;margin:0 2px;padding:0}
#pagination a{margin-right:2px}
#pagination .previous-off,#pagination .next-off{color:#0091c1;display:block;float:left;padding:3px 4px}
#pagination .active{background:url(img/pagination.png) no-repeat;color:#fff;display:block;float:left;padding:4px 6px}
#pagination a:link,#pagination a:visited{color:#0091c1;display:block;float:left;padding:3px 6px;text-decoration:none}
#button ul{list-style:none;overflow:hidden}
#button ul li{display:inline;float:left;margin:0 0 0 10px}
#button ul li a{color:#fff;cursor:pointer;float:left;font:900 11px Arial,Helvetica,sans-serif;text-decoration:none}
#button ul li a span{float:left;height:12px;margin:0 7px 0 -10px;padding:4px 8px 6px 15px;position:relative}
#button ul.orange li a.current,ul.orange li a:hover{background:url(img/btn.png) no-repeat top right;color:#fff}
#button ul.orange li a.current span,ul.orange li a:hover span{background:url(img/btn.png) no-repeat top left}
.box-a-1{background:url(img/box-a-1.png) no-repeat;height:10px;width:647px}
.box-a-2{background:url(img/box-a-2.png) repeat-y;overflow:hidden;padding:0 20px;width:607px}
.box-a-3{background:url(img/box-a-3.png) no-repeat;height:10px;width:647px}
.box-a-sub-1{background:url(img/box-a-sub-1.png) repeat-y;margin:0 auto;min-height:10px;padding:5px 10px;width:607px}
.box-a-sub-2{background:url(img/box-a-sub-2.png) no-repeat;height:10px;margin:0 auto;width:627px}
.box-main-a{margin:0 0 10px;overflow:visible;width:571px}
.box-main-a-sub-1{background:url(img/box-main-a-sub-1.png) repeat-y;margin:0 auto;min-height:10px;width:551px}
.comment-box{margin:10px 0;width:571px}
.comment-box-main{float:left;margin:0;width:493px}
.comment-box-main h1{color:#9AB514;font:900 12px Arial,Helvetica,sans-serif;margin:0 5px 5px}
.comment-box-main-a{background:url(img/comment-main-a.png) no-repeat;height:10px;width:493px}
.comment-box-main-b{background:url(img/comment-main-b.png) repeat-y;overflow:hidden;padding:0 20px;width:455px}
.comment-box-main-c{background:url(img/comment-main-c.png) no-repeat;height:10px;width:493px}
.comment-box-sub{float:right;margin:0 10px 10px;width:473px}
.comment-box-sub-a{background:url(img/comment-main-sub-a.png) repeat-y;margin:0 auto;min-height:10px;width:473px}
.comment-box-sub-b{background:url(img/comment-main-sub-b.png) no-repeat;height:10px;margin:0 auto;width:473px}
.comment-share-btn{float:right;margin:10px 10px 0}
.comment-box-large{margin:10px 0;width:655px}
.comment-box-large-main{float:left;margin:0;width:577px}
.comment-box-large-main h1{color:#9AB514;font:900 12px Arial,Helvetica,sans-serif;margin:0 5px 5px;padding:0}
.comment-box-large-main-a{background:url(img/comment-main-large-a.png) no-repeat;height:10px;width:577px}
.comment-box-large-main-b{background:url(img/comment-main-large-b.png) repeat-y;overflow:hidden;padding:0 20px;width:537px}
.comment-box-large-main-c{background:url(img/comment-main-large-c.png) no-repeat;height:10px;width:577px}
.comment-box-large-sub{float:right;margin:0 10px 10px;width:557px}
.comment-box-large-sub-a{background:url(img/comment-main-large-sub-a.png) repeat-y;margin:0 auto;min-height:10px;width:557px}
.comment-box-large-sub-b{background:url(img/comment-main-large-sub-b.png) no-repeat;height:10px;margin:0 auto;width:557px}
.comment-main-a{margin:0 0 10px;width:571px}
.comment-main-a-sub-1{background:url(img/box-main-a-sub-1.png) repeat-y;margin:0 auto;min-height:10px;padding:5px 10px;width:531px}
.del_comment_link{position:absolute;top:1px;right:1px}
#jGalleryImageInfo .line{width:270px !important}
.del_comment_link:hover{background-position: -32px -192px}
.like{color:#fa6301;font:11px/18px Arial,Helvetica,sans-serif;margin:0 10px;min-width:150px}
.like a{color:#fa6301;text-decoration:none}
.date{color:#0391c1;font:11px/18px Arial,Helvetica,sans-serif;margin:0 10px;min-width:150px}
.options-a-2
p{color:#9AB514;float:left;font:bold 13px Arial,Helvetica,sans-serif;min-width:60px;padding:3px 1px}
.friends-email{background:url(img/email-friend.png) no-repeat;float:left;height:22px;margin:0 10px 10px 0;width:169px}
.friends-email-input{border:none;float:left;font:normal 12px Arial, Helvetica, sans-serif;margin:3px;padding:1px 10px 0;width:118px}
.friends-email-arrow{float:left;height:14px;margin:4px 0 0 5px;width:15px}
.photo-box{float:left;margin:0 14px 5px;width:135px}
.photo-box img{background:url(img/album-pic.png) no-repeat;border:1px solid #777;margin:5px 0;width:133px}
.photo-box h1{background:url(img/bg-photo-title.png) no-repeat;color:#0391c1;font:11px Arial, Helvetica, sans-serif;height:20px;padding:5px 0 0 10px;width:125px}
.albums{color:#9AB514;font:bold 18px Arial,Helvetica,sans-serif;min-width:150px;padding-right:10px}
.albums h1{color:#9AB514;font:bold 13px Arial,Helvetica,sans-serif;min-width:150px;padding:30px 0 5px}
.albums h1 a:hover{color:#0391C1;text-decoration:none}
.albums p{color:#000;font:11px Arial,Helvetica,sans-serif;min-width:400px;padding:5px 0}
.albums span{color:#e63f06;font:11px Arial,Helvetica,sans-serif;min-width:150px;padding-right:10px}
.inbox-a{background:url(img/inbox-a.png) no-repeat;height:10px;width:647px}
.inbox-b{background:url(img/inbox-b.png) repeat-y;overflow:hidden;width:647px}
.inbox-c{background:url(img/inbox-c.png) no-repeat;height:10px;width:647px}
.inbox{overflow:hidden;padding:0 20px}
.inbox img{background:url(img/inbox-pic.png) no-repeat;border:1px solid #ccc;float:left;height:59px;margin:0 10px;width:68px}
.inbox h1{color:#E64106;float:left;font:bold 12px Arial,Helvetica,sans-serif;padding:5px 0;width:75%}
.inbox p{color:#000;float:left;font:11px Arial,Helvetica,sans-serif;padding-bottom:5px;width:75%}
.inbox span{color:#0391C1;float:left;font:11px Arial,Helvetica,sans-serif;padding-right:10px;width:75%}
.send-msg-con{float:right;margin:10px 0;width:640px}
.send-msg-back{float:right;height:22px;margin:0 10px 5px;width:42px}
.send-msg-sub{margin-bottom:10px;overflow:hidden}
.send-msg-sub p{color:#9ab514;float:left;font:12px Arial,Helvetica,sans-serif;margin:0 15px 0 0;overflow:hidden;padding-top:5px;width:60px}
.send-msg-sub input{background:url(img/message-sub.png) no-repeat scroll 0 0 transparent;border:none;color:#0391c1;float:left;height:24px;padding:2px 10px;width:535px}
.send-msg-box{margin:0 auto;width:650px}
.send-msg-box p{color:#9ab514;float:left;font:12px Arial,Helvetica,sans-serif;overflow:hidden;padding:10px 15px 0 0}
.send-msg{float:left;margin:0 0 10px;overflow:hidden;width:555px}
.send-msg-a{background:url(img/messagebox-a.png) no-repeat;height:10px;width:555px}
.send-msg-b{background:url(img/messagebox-b.png) repeat-y;overflow:hidden;width:555px}
.send-msg-c{background:url(img/messagebox-c.png) no-repeat;height:10px;width:555px}
.send-msg-b textarea{border:medium none;color:#000;float:left;font:12px/16px Arial,Helvetica,sans-serif;margin-left:5px;min-height:250px;padding:20px 10px;resize:fixed;width:525px}
.send-msg-btn{float:right;margin:0 10px 10px 0}
.find-friends h1{color:#9AB514;font:900 14px/18px Arial,Helvetica,sans-serif;margin:0 0 5px}
#friendsonline_img img{height:40px;margin:2px;width:40px}
.friendsonline_line{padding: 3px 0px; border-bottom: 1px dashed #ccc;width:190px}
.event-box{float:left;margin:0 10px 10px 0;width:205px}
.event-box-pic{height:281px;width:205px}
.event-info{float:left;margin:0 0 10px;width:435px}
.event-info-edit-btn{float:right;margin:10px 4px}
.guest-list{background:url(img/bg-photo-title.png) no-repeat scroll 0 0 transparent;display:inline-block;text-align:left;height:25px;margin:0 7px;width:135px}
.guest-list h1{color:#e63f06;font:11px Arial, Helvetica, sans-serif;padding:5px 0 0 10px}
.guest-list h1 a{color:#e63f06;text-decoration:none}
#box-table-a td{background:#ebebeb;border-bottom:2px solid #fff;border-top:1px solid transparent;color:#333;padding:8px}
#box-table-a tr:hover td{background:#d9f9ff}
.profile{width:571px}
.profile-box{float:left;margin:0 10px 10px 5px;width:205px}
.profile-box-pic{margin-top:10px;width:205px}
.profile-info{float:right;margin:0 0 10px;width:350px}
.profile-edit-profile-btn{float:left;margin:10px 0}
.profile-pin-board-btn{float:left;margin:10px 4px}
.profile-grid{clear:both;margin:15px 0 10px}
.share-file-grid-con h1{color:#9AB514;font:bold 13px Arial,Helvetica,sans-serif;padding:10px 15px}
.share-grid-btn{float:right;margin:10px 0}
.grid-share th a{color:#FFF!important}
.grid-share td{border-bottom:2px solid #fff;border-top:1px solid transparent;color:#333;padding:8px}
.forum{margin:0 0 15px;width:654px}
.forum-a{background:url(img/forum-head-a.png) no-repeat;height:10px;width:654px}
.forum-b{background:url(img/forum-head-b.png) repeat-y;overflow:hidden;padding:0 20px;width:634px}
.forum-c{background:url(img/forum-head-c.png) no-repeat;height:10px;width:654px}
.forum-b h1{color:#e64106;float:left;font:bold 13px Arial,Helvetica,sans-serif;padding:0 0 5px;width:400px}
.forum-b h2{color:#000;float:left;font:normal 11px Verdana, Arial, Helvetica, sans-serif;padding:0 0 5px;width:400px}
.forum-b p{color:#0391c1;float:right;font:normal 10px Arial,Helvetica,sans-serif;padding:0 13px 0 0;width:120px}
.forum-sub-a{background:url(img/forum-body-a.png) repeat-y;margin:0 auto;padding:10px 10px 5px;width:604px}
.forum-sub-b{background:url(img/forum-body-b.png) no-repeat;height:10px;margin:0 auto;width:624px}
.forum-sub-a .furom-picture{background:url(img/profile-small.png) no-repeat;float:left;height:59px;width:59px}
.forum-sub-a h1{color:#e64106;float:left;font:bold 13px Arial,Helvetica,sans-serif;margin:opx;padding:5px 0 5px 10px;width:400px}
.forum-sub-a h1 a:hover{color:#e64106}
.forum-sub-a h2{color:#000;float:left;font:11px Arial,Helvetica,sans-serif;margin:opx;padding:0 0 5px 10px;width:400px}
.forum-sub-a h3{color:#0391c1;float:left;font:11px Arial,Helvetica,sans-serif;margin:opx;padding:0 0 0 10px;width:400px}
.forum-sub-a p{color:#0391c1;float:right;font:normal 10px Arial,Helvetica,sans-serif;margin:-15px 10px 0 0;width:100px}
.adds-sub{margin-bottom:10px;overflow:hidden;width:130px}
.footer{height:32px}
.footercon{margin:auto;width:998px}
.footer h1{background:url(img/bg_footer_h.html) no-repeat scroll 0 0 transparent;color:#0391C1;float:left;font-size:14px;height:25px;margin:0 10px;padding-top:7px;text-align:center;width:215px}
.copyright{background:url(img/bg_copyright.png) repeat-x;height:auto}
.copyright p{color:#fff;font-size:.8em;padding:10px 0;text-align:center}
.copyright .footer_version{position:absolute;right:10px;text-align:right;top:0}
.video_status_img{cursor:pointer;display:inline-block;height:90px;width:120px}
.video_status_description{display:inline-block;vertical-align:top;width:250px}
.video_status_description p{font-size:12px;font-style:italic}
.video_page_link{color:#0091C1;font-size:11px}
.insert_video_status{background-color:#FFF;font-family:Arial;font-size:12px;padding:5px}
.insert_video_status_text textarea{height:25px;padding:3px;width:500px}
#myfriends .main_list_wrap{background:url(img/bg_friends.png) #fff no-repeat top left;color:#9AB514;height:75px;margin:3px;padding:3px}
.main_list_wrap{color:#9AB514;height:75px;margin:3px;padding:3px}
.main_list_img{height:auto;max-height:80px;max-width:80px;width:auto}
.main_list_img_wrap{display:inline-block;overflow:hidden;text-align:center;width:80px}
.main_list_cont{display:inline-block;padding:0 5px 5px 5px;width:275px;vertical-align: top}
.main_list_right_cont{display:inline;float:right;padding:5px;text-align:right;vertical-align:top;width:30px}
.main_list_status_bottom{color:#0091c1;font-size:11px;margin:3px}
.main_list_name{color:#E64106;font-size:15px;font-weight:700;margin:2px;text-decoration:none}
.main_list_name:hover{color:#FA6301;text-decoration:underline}
.main_list_small_name{color:#9AB514;font-size:13px;font-weight:700;margin:2px 0;text-decoration:none}
.main_list_small_header{color:#000;font-size:13px}
.main_list_content{color:#000;font-family:Arial;font-size:13px;max-width:400px;padding:1px 2px}
.main_list_updated{color:#0391C1;font-size:11px;padding-left:5px}
.main_list_owner{color:#666;font-size:11px;font-weight:700;padding-left:10px;width:180px}
.main_list_status_delete{background:url(img/delete_x.gif) no-repeat;height:14px;margin:5px;text-indent:-9999px;width:13px}
.owner_link{color:#666}
.main_list_photos,.main_list_photos2{color:#E64106;float:right;font-size:11px;font-weight:700;padding:20px 0 5px;text-align:right;width:180px}
.main_list_photos .state,.main_list_photos2 .state{height:12px;margin:2px;padding:0;width:12px}
#like_persons{background-color:#FFF;height:auto;max-height:400px;min-height:200px;overflow:auto;width:500px}
.video_message{font-size:12px;margin:0;padding:3px 0}
.add_comment{background-color:#E9F2F9;height:80px;margin:5px;overflow:hidden;padding:3px;position:relative;width:350px}
.left_comment{display:inline-block;margin:1px;vertical-align:top;width:40px}
.right_comment{display:inline-block;height:auto;margin:0;padding:0 3px;width:270px}
.comment_cont{height:auto;min-height:28px}
.del_comment_img{cursor:pointer;position:absolute;right:3px;top:3px}
.comment_footer{display:inline-block;height:12px;width:300px}
.comment_footer i{color:#0391c1;font-size:11px}
.receiver_mail{display:block;padding:2px 1px;margin:1px;border-bottom: 1px dashed #ccc}
#new_comment{height:42px;margin:0;padding:0;width:300px}
.new_comment_area{font-size:12px;height:22px;margin:2px;overflow:auto;padding:2px}
.send_comment{float:right;margin:4px 2px 2px}
#likes{padding:0 5px;width:400px}
.comment{border-bottom:1px dotted #ccc;margin:1px 0 2px;padding:2px;width:396px;position:relative;}
.likeline{border-top:1px dotted #ccc;padding:5px;width:390px}
.likeline img,.likeline a{display:inline-block;float:left;vertical-align:middle}
.likeline img{height:14px;width:14px}
.likeline a{color:#0391c1;padding-left:4px;padding-right:10px}
#not_cont hr{border-color:#ccc;border-style:solid;border-width:1px 0 0;height:0}
.notification{margin:0;padding:2px 3px;text-align:right}
.notification_msg{display:block;font-size:11px;height:auto;text-align:left}
.notification_msg a{width:auto}
.notification_time{color:#AAA;font-size:10px}
#register_form .required_star{color:red;font-size:12px}
.info_line{border-bottom:1px solid #eee;padding:5px}
.info_label{display:inline-block;width:140px}
#albums .photo_box{display:inline-block;float:left;height:50px;margin:2px;overflow:hidden;width:50px}
#albums img{height:auto;min-height:50px;min-width:50px;width:auto}
.sidebar_menu .sidebar_menu_item{background-position:left;background-repeat:no-repeat;color:#9AB514;font-family:Verdana;font-size:12px;padding:5px 0 5px 22px}
#privacy_table{border:0;color:#333;width:100%}
.privacy_line{padding:3px 0}
.privacy_label{border:1px solid #efefef;border-width:1px 0 0;color:#9AB514;font-size:13px;font-weight:700;padding:10px 0 10px 2px}
.privacy_value{border:1px solid #efefef;border-width:1px 0 0;padding:0 10px;text-align:right}
.privacy_select{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border:1px solid #ccc;border-radius:5px;padding:2px}
#rel_part{display:inline-block;position:relative}
#partner{width:130px}
.photo_available{height:13px;width:13px}
.profile_preview{border:3px outset #ccc;position:fixed;right:5px;top:5px}
.sendmessage_line{display:block;padding:5px 1px}
.sendmessage_line label{display:inline-block;width:80px}
.sendmessage_line input{border:1px solid #aaa;width:430px}
#subject{height:auto;width:432px}
#receivers_box{display:inline-block;overflow:visible;width:432px}
.name_list{font-size:11px;font-weight:700;text-decoration:none}
#sendmessage_message_wrap{background-color:#FFF;display:inline-block;margin-left:2px;width:450px}
#sendmessage_message{height:300px;width:430px}
.message_red{-moz-border-radius:3px;-moz-box-shadow:0 2px 2px rgnba(0,0,0,0.5);-webkit-border-radius:3px;-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.5);background-color:#B90000;border-radius:3px;box-shadow:0 2px 2px rgba(0,0,0,0.5);color:#FFF;font-size:13px;font-weight:700;margin:10px auto;padding:9px 10px;text-shadow:0 0 0 transparent,0 0 2px rgba(0,0,0,.3);width:500px}
.message_green{-moz-border-radius:3px;-moz-box-shadow:0 2px 2px rgnba(0,0,0,0.5);-webkit-border-radius:3px;-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.5);background-color:#006700;border-radius:3px;box-shadow:0 2px 2px rgba(0,0,0,0.5);color:#FFF;font-size:13px;font-weight:700;margin:10px auto;padding:9px 10px;text-shadow:0 0 0 transparent,0 0 2px rgba(0,0,0,.3);width:500px}
.message_red a{color:#FFF;text-decoration:underline}
.viewmessage_line{display:block;margin:2px 0 5px;padding:5px 1px}
.viewmessage_label{display:inline-block;vertical-align:top;width:80px}
.viewmessage_value{width:430px}
#viewmessage_message{background-color:#FFF;border-color:#aaa;border-radius:4px;border-style:solid;border-width:1px;display:inline-block;max-height:250px;min-height:160px;overflow:auto;padding:5px;width:420px}
#viewmessage_reply_wrap{background-color:#FFF;display:inline-block;height:30px;width:450px}
#viewmessage_reply{height:30px;width:430px}
#gallery .main_list_wrap{color:#9AB514;height:170px!important;margin:0!important;padding:0 20px!important}
#gallery .main_list_img{height:auto;max-height:121px!important;max-width:133px!important;width:auto}
#gallery .main_list_img_wrap{display:inline;float:left;height:auto!important;overflow:hidden;text-align:center;width:135px!important}
#gallery .main_list_img_photos{background:url(img/bg-photo-title.png) no-repeat;color:#0391c1;font:11px Arial, Helvetica, sans-serif;height:15px;margin:5px auto;padding:5px;text-align:left;vertical-align:middle;width:125px}
.gallery_comment {width:276px !important}
.gallery_comment .right_comment{width:231px !important;padding:0 0 0 3px}
#gallery .main_list_cont{display:inline;float:left;height:121px;padding:20px 5px 5px 10px;width:275px}
#gallery .main_list_photos{color:#E64106;float:left!important;font-size:11px;font-weight:700;padding:20px 0 5px;text-align:left!important;width:120px}
.option_positioner{height:0;position:absolute;width:0}
.option{height:40px;left:1px;margin:0;position:relative;top:1px;width:20px;z-index:999}
.option img{cursor:pointer;height:16px;margin:1px;width:16px}
.gal_thumb_spacer{background:no-repeat center top;height:90px;margin:0 auto;width:140px}
.thumb_link{margin:0 auto}
.line{border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin:3px 0;padding:5px;width:390px;color:#0391C1}
.show_comments{background:url(img/balloons-white.png) left no-repeat;padding:2px 0px 2px 20px;font-size:11px}
.line .show_other:hover{color:#333;cursor:pointer;text-decoration:underline}
.line a{color:#333;display:inline-block;height:16px;text-decoration:none}
.line a:hover{color:#333;text-decoration:underline}
.status_like,.status_comment,.status_unlike{color:#034E9B;font-family:Verdana;font-size:10px;line-height:1.4em}
.read_more_comment,.read_less_comment{color:#0391c1!important;cursor:pointer;font-size:11px}
.status_like{background-position:-32px -128px}
.status_unlike{background-position:-64px -128px}
.status_dislike{background-position:-96px -128px}
#uploaded_files p{float:none}
#cal_wrapper{margin:0 auto;padding:10px 20px;text-align:center;width:250px}
#cal_wrapper h3,.next,.last{font-weight:700;margin:0;text-decoration:none}
.month_year{float:left;font-size:15px;text-align:center;width:150px}
.last{cursor:pointer;float:left;width:50px}
.next{cursor:pointer;float:right;width:50px}
.cal_table{margin:5px 0;width:250px}
.cal_head{background:repeat-x url(./img/event_head.gif);margin:0;padding:2px}
.cal_head td{color:#FFF;font-size:12px;font-weight:700;text-align:center}
.cal_cell{background:#EEE;border:1px solid #ccc;font-size:13px;margin:0;padding:1px;text-align:right;width:23px}
.cal_cell:hover{cursor:pointer;font-weight:700;text-decoration:underline}
.cal_cell_empty{background:#EEE;border:1px solid #ccc;margin:0;padding:2px;text-align:right;width:25px}
.cal_cell_today{background:#E9F2F9}
.cal_cell_events{background:#C2FF84}
.cal_row{height:25px}
#event_tooltip{background:#fff;height:auto;margin:0;padding:0;position:absolute;width:250px}
#tooltip_head{background:repeat-x url(./img/event_head.gif);color:#fff;font-size:14px;font-weight:700;padding:2px 5px}
#tooltip_events_wrapper{background-color:#fff;border-color:#034E9B;border-style:solid;border-width:0 1px 1px;padding:5px}
.event{background:#E9F2F9;margin:3px 0;min-height:50px}
.event_img_wrap{float:left;width:50px}
.event_img{max-height:50px;max-width:50px}
.event_info{float:right;text-align:left;width:185px}
.event_name{color:#034E9B;font-weight:700;text-decoration:underline}
.event_guests{color:#333;font-size:12px;font-weight:700}
.event_time{color:#034E9B;font-size:10px}
.no_events{color:#034E9B;font-weight:700;margin:0;padding:5px}
#new_event_left_wrap{float:left;padding:30px 10px 50px;text-align:center;width:200px}
#event_img_frame{height:auto;margin:1px;max-height:330px;max-width:220px;padding:0;width:auto}
.upload_event_img{background:#ccc;border:1px solid #333;cursor:pointer;font-size:14px;font-weight:700;margin:10px;padding:5px}
.event_img_form{display:inline-block;width:220px}
#new_event_right_wrap{background:#E0E0E0;float:right;padding:20px 10px;width:600px}
#guests_wrap{background:#E0E0E0;float:right;height:317px;padding:20px 10px;width:600px}
#guests_cont{height:292px;overflow:auto}
.event_cal_field{background-color:#fff;border:1px solid #ccc;cursor:pointer;float:left;margin:0 2px;padding:3px;text-align:left;width:100px}
.event_cal_field span{color:#034E9B;font-size:12px;font-style:italic;margin:2px}
.event_time_select{background:#fff;border:1px solid #ccc;color:#034E9B;float:left;font-size:12px;font-style:italic;margin:0 5px;padding:3px 3px 2px;width:90px}
.event_info_text{border:1px solid #ccc;margin:2px;padding:3px;width:300px}
.event_info_textarea{background-color:#fff;border:1px solid #ccc;height:80px;margin:2px;padding:3px;width:300px}
.event_info_file{background:#fff;border:1px solid #ccc;margin:2px;padding:3px;vertical-align:middle}
#guest_frame{background:#fff;border:1px solid #ccc;height:22px;margin:2px;width:300px}
.event_info_file_load{background:#fff;height:22px;margin:2px;padding:3px;width:250px}
.event_info_file_load img{margin:1px}
.event_mini_cal{background:#fff;border:1px solid #333;height:auto;min-height:130px;position:absolute;width:154px;z-index:999}
.event_info_label{color:#333;font-size:12px;font-weight:700;padding:5px 2px;width:100px}
.event_mini_cal_head{background-color:#88C5E4}
.event_mini_cal_last{cursor:pointer;float:left;font-weight:700;padding:2px;text-align:center;width:20px}
.event_mini_cal_next{cursor:pointer;float:right;font-weight:700;padding:2px;text-align:center;width:20px}
.event_mini_cal_month{float:left;font-size:12px;font-weight:700;padding:2px;text-align:center;width:98px}
.event_mini_cal_table_head{background:url(img/event_head.gif);color:#fff;font-size:10px;font-weight:700}
.event_mini_cal_cell{background:#EEE;font-size:10px;margin:0;padding:4px;text-align:center}
.event_mini_cal_cell:hover{background-color:#7FFF7F;cursor:pointer}
.event_mini_cal_cell_today{background:#FF7F55}
.event_mini_cal_cell_events{background:#7FFF7F}
.event_mini_cal_row{height:19px}
.guest_box{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;background:#fff;border:1px solid #ccc;border-radius:5px;float:left;height:auto;margin:5px;padding:5px;width:auto}
.guest_box:hover{border-color:#666;cursor:pointer}
.guest_box_selected{background:url(./img/tick.png) no-repeat right bottom #88C5E4;border-color:#3b5998;border-width:2px;padding:4px}
.guest_img{float:left;height:50px;margin:0;padding:0;width:50px}
.guest_name{color:#666;float:left;font-size:12px;font-weight:700;margin:0 5px;width:75px}
#event_show_head{margin-top:20px;overflow:hidden;padding:10px 0}
.event_show_img{background:#fff;border:1px solid #ccc;margin:5px;padding:5px;width:200px}
#event_show_right_head{float:left;text-align:left;width:300px}
#event_overview{color:#333;font-size:13px;padding:0 10px}
#change_attending{background-color:#fff;left:auto;margin:3px 50px;position:absolute;top:auto;width:150px}
#event_show_guest_wrap{background-color:#fff;border:1px solid #ccc;padding:2px;text-align:left;width:98%}
#event_show_guest_menu{border-bottom:1px solid #ccc}
.guest_menu_item{color:#034E9B;display:inline;font-size:12px;font-weight:700;padding:1px 3px}
#event_show_guest_list{height:auto;max-height:300px;overflow:auto}
#event_show_guest_list_header{border-bottom:1px solid #ccc;color:#034E9B;font-size:14px;font-weight:700;height:17px;padding:2px}
#event_show_header{border-bottom:1px outset #ccc;color:#000;font-size:24px;margin:1px;padding:1px;text-align:left;width:270px}
.event_show_right_head_info{color:#034E9B;font-weight:700;padding:10px}
.event_list_img{display:inline;height:auto;max-height:121px!important;max-width:133px!important;overflow:hidden;width:auto}
.event_list_img_wrap{display:inline-block;float:left;text-align:center}
.event_list_img_wrap a{display:block}
.event_list_img_guests{background:url(img/bg-photo-title.png) no-repeat;color:#0391c1;font:11px Arial, Helvetica, sans-serif;height:20px;margin:5px auto;padding:5px 0 0 10px;text-align:left;width:125px}
.event_list_cont{display:inline;float:left;padding:20px 5px 5px 10px;width:275px}
.event_list_guests{color:#3b5998;font-size:11px;padding-left:5px}
.event_list_att_cont{float:right;padding:5px 0;text-align:right;width:180px}
.all_events_header{background:#666;color:#FFF;font-weight:700;padding:3px 5px}
.rsvp_header{font-size:16px;font-weight:700;margin:5px}
div#forums{font-size:13px;margin:0 10px}
#forums .new_posts_label{font-size:14px}
#forums .cat_block{margin-bottom:20px}
#forums .cat{padding:5px;text-align:left;width:250px}
#forums .cat_headline{display:block;font-size:14px;font-weight:700;margin-left:10px}
#forums .cat_description{display:block;font-size:14px;font-weight:400;margin-left:10px;margin-right:5px}
#forums .new_board{font-size:13px}
#forums .indic{width:15px}
#forums .forums_description{display:inline-block;float:left;font-size:12px;margin-right:5px;text-align:left}
#forums .forum_posts{color:#9AB514;font-size:11px;font-weight:700}
#forums .posts{font-size:13px;text-align:right}
#forums .forum_read{display:inline-block;float:left;margin:10px 5px 10px 2px;vertical-align:middle}
#forums .cat,#forums .forum{cursor:pointer;padding:5px}
#forums .post_sub{border-bottom:1px solid #ccc;font-size:12px;font-weight:700}
#forums .post_time{float:right;font-size:.8em!important;text-align:right}
#forums .userinfo{font-size:.8em;text-align:center;vertical-align:top}
#forums .post{font-size:13px;padding:10px;vertical-align:top}
#forums cite{border:1px solid #ccc;display:block;font-style:italic;margin:10px;padding:10px}
#forums .postnav{font-size:12px;padding:4px 0px;text-align:right;vertical-align:bottom;border-top: 1px dashed #ccc;border-bottom:1px dashed #ccc}
#forums .userinfo_name{background:url(img/bg-photo-title.png) no-repeat;color:#0391c1;display:block;font:11px Arial, Helvetica, sans-serif;height:20px;margin:5px auto;padding:5px 0 0 10px;text-align:left;width:125px}
#forums .subnav{padding-top:20px;text-align:right}
#forums .cat_lastpost{font-size:13px;font-weight:700;text-align:right;vertical-align:top}
#forums .lastpost{padding:5px;text-align:center;vertical-align:bottom;width:120px}
#forums textarea{height:200px;padding:5px;width:400px}
#forums #msgbox{font-size:1em;font-weight:700;margin:20px;padding:10px;text-align:center}
#forums #msgbox a{font-size:.8em}
#forums .preview{margin:20px 0;width:100%}
#forums .preview div{padding:10px}
#forums #form_errormsg{color:#d00;padding:5px 5px 5px 20px;text-align:left}
.post_avatar{height:80px;width:80px}
#smilietable .headline{color:#9AB514;font-size:13px}
#forums #smilietable{text-align:center}
#forums .post_format input{float:right;height:auto;margin:2px;width:auto}
.row_0{background-color:#ECECEC}
.row_1{background-color:#FFF}
#fileshare_detail_head{border-bottom:1px solid #ccc;padding:5px 0}
#fileshare_preview{display:inline-block;float:left;height:150px;width:250px}
#fileshare_preview img{max-height:150px;max-width:250px}
#fileshare_description{display:inline-block;float:left;height:150px;width:360px}
.message_border{-moz-border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;background:rgba(82,82,82,0.699219);border-radius:8px;height:auto;left:50%;margin:0 -300px;padding:10px;position:fixed;top:100px;width:600px;z-index:9999}
.message_window{background-color:#fff;border:1px solid #333}
.message_header{background-color:#ddd;border-bottom:1px solid #333;padding:10px}
.message_header_head{float:left;margin:0;padding:0}
.message_close_img{cursor:pointer;float:right}
.message_cont{min-height:200px;padding:10px}
.message_footer{background-color:#ddd;border-top:1px solid #333;padding:10px;text-align:center}
.suggestion_time{color:#E64106;font-size:11px}
*,.bar *{margin:0;padding:0}
input[type=checkbox],input[type=radio],img{border:0}
.addasfriend,.delete_status:hover{cursor:pointer}
.welcome-msg ul li a,.main_nav ul li a,.forum-b h2 a,#forums .postnav a:hover{color:#000;text-decoration:none}
.welcome-msg li a:hover,.forum-sub-a h2 a:hover{color:#0391c1}
.main_nav ul li a:hover,.copyright p a{color:#fff;text-decoration:none}
.main_col_a h1 a:hover,.comment-box-main h1 a:hover,.comment-box-large-main h1 a:hover,.options-a-2 p a:hover,.find-friends h1 a:hover,.share-file-grid-con h1 a:hover,.forum-b h1 a:hover,.forum-b h2 a:hover,.forum-b p a:hover,.forum-sub-a p a:hover{color:#0391C1}
.bar_a,.bar-sub-a{background:url(img/bar_a.png) no-repeat;float:left;height:32px;width:8px}
.bar_b h1,.bar-sub-b h1{color:#fff!important;font:bold 13px Arial, Helvetica, sans-serif;padding:8px 10px}
.bar-sub-b a,.bar-sub-b a:hover{color:#fff;font:bold 13px Arial, Helvetica, sans-serif;padding:8px 10px}
.bar_c,.bar-sub-c{background:url(img/bar_c.png) no-repeat;float:left;height:32px;width:8px}
#pagination a:hover,.main_list_photos a,#gallery .main_list_photos a{color:#E64106}
.box-a,.box-sub-a,.options-a,.inbox-con{margin:0 0 10px;width:647px}
.box-a-2 p,.box-main-a-2 p,.comment-box-main-b p,.comment-box-large-main-b p,.comment-main-a-2 p{color:#000;font:11px/16px Arial,Helvetica,sans-serif}
.box-a-sub-1 p,.comment-main-a-sub-1 p{color:#000;font:11px/18px Arial,Helvetica,sans-serif;min-width:150px}
.box-main-a-1,.comment-main-a-1{background:url(img/box-main-a-1.png) no-repeat;height:15px;width:571px}
.box-main-a-2,.comment-main-a-2{background:url(img/box-main-a-2.png) repeat-y;overflow:hidden;padding:1px 20px;width:531px}
.box-main-a-3,.comment-main-a-3{background:url(img/box-main-a-3.png) no-repeat;height:15px;width:571px}
.box-main-a-sub-2,.comment-main-a-sub-2{background:url(img/box-main-a-sub-2.png) no-repeat;height:10px;margin:0 auto;width:551px}
.comment-box-picture,.comment-box-large-picture{float:left;margin:0 0 10px;width:78px}
.comment-box-sub-a p,.comment-box-large-sub-a p{color:#000;float:left;font:11px/18px Arial,Helvetica,sans-serif;min-width:150px;padding:10px 10px 0}
.like a:hover,.date a:hover,.guest-list h1 a:hover,#likes .line .show_other{color:#333}
.date a,.forum-b p a,.forum-sub-a h2 a,.forum-sub-a p a,.footer h1 a{color:#0391c1;text-decoration:none}
.options-btn,.single-upload-btn,.multi-uploader-btn{float:left;margin:0 10px 0 0}
.friends-btn,.inbox-btn{float:left;margin:0 10px 10px 0}
.inbox input,.share input{float:left;height:4em}
.inbox h1 a,.inbox h1 a:hover,.forum-b h1 a,.forum-sub-a h1 a{color:#e64106;text-decoration:none}
.find-friends,.adds-main{margin-bottom:10px;overflow:hidden;width:210px}
.event-box-attend-btn,.profile-box-attend-btn{float:left;margin:10px 5px 0 3px}
.event-box-share-btn,.profile-box-share-btn{float:left;margin:10px 4px 0}
#box-table-a th,.grid-share th{background:#f25503;border-bottom:2px solid #fff;border-top:4px solid #a83a00;color:#fff;font:bold 13px Arial, Helvetica, sans-serif;font-weight:400;padding:8px}
.copyright p a:hover,#event_show_rsvp{text-decoration:underline}
#video #sharebutton,#event_comments .add_comment,#tooltip_events_wrapper .event_new{display:none}
.main_list_photos img,#gallery .main_list_photos img{height:12px;padding:1px;width:12px}
.show_comments:hover,.load_comments:hover,.status_like:hover,.status_comment:hover,.status_unlike:hover,.guest_menu_item:hover{cursor:pointer;text-decoration:underline}
#register_form td,#forums .post_sub,#forums .post_time,#forums .post_avatar{padding:3px}
.info_value,#relationship_select{display:inline-block}
#grid-share th a,#forums .cat a{color:#FFF}
.message_red a:hover,#forums table a{text-decoration:none}
#gallery .main_list_name,.event_list_name{color:#9AB514;display:block;font-size:13px;font-weight:700;margin:2px 2px 2px 0;padding-bottom:5px;text-decoration:none}
#gallery .main_list_updated,.event_list_time{color:#E64106;font-size:11px;padding-left:0!important}
#gallery .main_list_owner,.event_list_owner{color:#000;display:block;font-size:11px;font-weight:400!important;margin-bottom:5px;padding:0!important;width:180px}
#gallery .ui-state-highlight,.gal_thumb{float:left;height:120px;margin:5px;padding:5px;position:relative;text-align:center;width:140px}
.cal_cell_today_events,.event_mini_cal_cell_today_events{background:#5AF}
.new_event_table td,#change_attending_form{margin:5px}
#forums .topic,#forums .forums_headline{font-size:13px;font-weight:700}
#forums .read,#forums .unread{height:10px;overflow:hidden;width:10px}
#forums .post img,#forums .preview img{vertical-align:middle}
.share-file-grid-con,.guest,#smilietable{margin:10px 0}
.sidebar_menu .sidebar_menu_item a,a,.main_col_a h1 a,.comment-box-main h1 a,.comment-box-large-main h1 a,.options-a-2 p a,.albums h1 a,.find-friends h1 a,.share-file-grid-con h1 a{color:#9AB514;text-decoration:none}
.sidebar_menu .sidebar_menu_item a:hover,a:hover,#gallery .main_list_name:hover,.event_list_name:hover{color:#3D98AA;text-decoration:underline}
.cal_cell_next_month,.cal_cell_last_month{background:#EEE;border:1px solid #ccc;color:#999;cursor:pointer;font-size:13px;margin:0;padding:2px;text-align:right;width:23px}
.message_own{background-color:#DEDEDE;border-radius:5px;float:left;margin:5px;padding:5px 0 5px 5px;width:365px}
.triangle_wrap_own{float:left;margin-right:-10px;margin-top:25px;width:15px}
.triangle_own{border-bottom:5px solid transparent;border-right:10px solid #DEDEDE;border-top:5px solid transparent;height:0;width:0}
.message_avatar_own img{border:1px solid #999;float:left;width:60px}
.message_main_content_own{float:left;width:300px;overflow:auto}
.message_main_options_own{float:left;width:16px}
.message_content{min-height:24px;padding:3px}
.message_time_own{color:#666;font-size:10px;text-align:right}
.triangle_wrap_other{float:right;margin-left:-5px;margin-top:25px;width:15px}
.triangle_other{border-bottom:5px solid transparent;border-left:10px solid #00D4FE;border-top:5px solid transparent;height:0;width:0}
.message_other{background-color:#00D4FE;border-radius:5px;float:right;margin:5px;padding:5px 5px 5px 0;width:365px}
.message_main_content_other{float:right;margin-right:3px;width:300px;overflow:auto}
.message_main_options_other{float:right;width:16px}
.message_time_other{color:#666;font-size:10px;text-align:left}
#box-table-a,.grid-share{border-collapse:collapse;font:normal 11px Arial, Helvetica, sans-serif;line-height:1.1em;text-align:left;width:100%}
#forums .post_side,#fileshare_detail_container{text-align:left}
.comment_cont span,#grid-share td a,.guest_name_selected,.message_other a{color:#000}
#tooltip_day,#forums .topic a,.message_img_own,.message_name_own{float:left}
#tooltip_event_count,.event_cal_img,.message_img_other,.message_name_other{float:right}
.register_field_checked{display:inline-block;height: 16px;width:16px;background: url(img/ok.png) no-repeat;vertical-align:middle}
.register_field_failed{display:inline-block;height: 16px;width:16px;background: url(img/fail.png) no-repeat;vertical-align:middle}
#register_form input[type='text'],#register_form input[type='password']{
	padding: 4px !important;
	width: 217px;
}

#register_form tr td {
	border-bottom: 1px dashed #dedede;
	padding: 2px 0px;
}
#file-details{
    width: 807px;
    height: 372px;
    text-align: left;
}

#file-details-left{
    width: 445px;
    float: left;
    padding-right: 5px;
}
#file-details h3,#file-details a {
    color: #1C94C4;
}
#file-details h1{
    font-size: 16px;
    color: #9AB514;
}
#file-info-description{
    font-size: 12px;
    font-style: italic;
}
#file-privacy{

}
#file-privacy-title{
    color: #9AB514;
    font-size: 14px;
}
#file-privacy-people{

}
#file-details-right{
    border-left : 1px dashed #fff;
    padding-left: 5px;
    width: 350px;
    float: left;
}
#file-comment-area{
}
#file-like-area{
padding: 10px 5px;
}
#file-like-area a {
    color: #9AB514;
    font-weight: bold;
}
.file_comment {
    width:330px !important;
}
.likeimg {
	height:35px;width:35px;display:block;padding:0;margin:1px;float:left
}