 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 850px;
	 height: 513px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #DarkBackground 
{ 
	 left: -25px; 
	 top: 0px; 
	 position: absolute; 
	 width: 900px;
	 height: 257px;
	 z-index:1;
} 

 #Button 
{ 
	 left: 181px; 
	 top: 72px; 
	 position: absolute; 
	 width: 142px;
	 height: 42px;
	 z-index:2;
} 

 #ShoppingCart3 
{ 
	 left: 198px; 
	 top: 84px; 
	 position: absolute; 
	 width: 20px;
	 height: 18px;
	 z-index:3;
} 

 #AddtoCart 
{ 
	 left: 226px; 
	 top: 88px; 
	 position: absolute; 
	 width: 77px;
	 height: 12px;
	 z-index:4;
} 

 #Button_0 
{ 
	 left: 354px; 
	 top: 72px; 
	 position: absolute; 
	 width: 142px;
	 height: 42px;
	 z-index:5;
} 

 #Download 
{ 
	 left: 402px; 
	 top: 88px; 
	 position: absolute; 
	 width: 69px;
	 height: 11px;
	 z-index:6;
} 

 #BoxIncoming 
{ 
	 left: 375px; 
	 top: 84px; 
	 position: absolute; 
	 width: 19px;
	 height: 16px;
	 z-index:7;
} 

 #Buton 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #LiveChat 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #SpeechBubbles 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #Buttoncopy 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #ShoppingCart3copy 
{ 
	 left: 198px; 
	 top: 155px; 
	 position: absolute; 
	 width: 20px;
	 height: 18px;
	 z-index:12;
} 

 #AddtoCart_0 
{ 
	 left: 226px; 
	 top: 159px; 
	 position: absolute; 
	 width: 77px;
	 height: 12px;
	 z-index:13;
} 

 #Buttoncopy_0 
{ 
	 left: 354px; 
	 top: 143px; 
	 position: absolute; 
	 width: 142px;
	 height: 42px;
	 z-index:14;
} 

 #Download_0 
{ 
	 left: 402px; 
	 top: 159px; 
	 position: absolute; 
	 width: 69px;
	 height: 11px;
	 z-index:15;
} 

 #BoxIncomingcopy 
{ 
	 left: 375px; 
	 top: 155px; 
	 position: absolute; 
	 width: 19px;
	 height: 16px;
	 z-index:16;
} 

 #Butoncopy 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #LiveChat_0 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #SpeechBubblescopy 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #LightBackground 
{ 
	 left: -25px; 
	 top: 256px; 
	 position: absolute; 
	 width: 900px;
	 height: 257px;
	 z-index:20;
} 

 #Buttoncopy2 
{ 
	 left: 181px; 
	 top: 328px; 
	 position: absolute; 
	 width: 142px;
	 height: 42px;
	 z-index:21;
} 

 #ShoppingCart3copy2 
{ 
	 left: 198px; 
	 top: 340px; 
	 position: absolute; 
	 width: 20px;
	 height: 18px;
	 z-index:22;
} 

 #AddtoCartcopy 
{ 
	 left: 226px; 
	 top: 344px; 
	 position: absolute; 
	 width: 77px;
	 height: 12px;
	 z-index:23;
} 

 #Buttoncopy2_0 
{ 
	 left: 354px; 
	 top: 328px; 
	 position: absolute; 
	 width: 142px;
	 height: 42px;
	 z-index:24;
} 

 #Downloadcopy 
{ 
	 left: 402px; 
	 top: 344px; 
	 position: absolute; 
	 width: 69px;
	 height: 11px;
	 z-index:25;
} 

 #BoxIncomingcopy2 
{ 
	 left: 375px; 
	 top: 340px; 
	 position: absolute; 
	 width: 19px;
	 height: 16px;
	 z-index:26;
} 

 #Butoncopy2 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #LiveChatcopy 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #SpeechBubblescopy2 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #Buttoncopy2_1 
{ 
	 left: 181px; 
	 top: 399px; 
	 position: absolute; 
	 width: 142px;
	 height: 42px;
	 z-index:30;
} 

 #ShoppingCart3copy2_0 
{ 
	 left: 198px; 
	 top: 411px; 
	 position: absolute; 
	 width: 20px;
	 height: 18px;
	 z-index:31;
} 

 #AddtoCartcopy_0 
{ 
	 left: 226px; 
	 top: 415px; 
	 position: absolute; 
	 width: 77px;
	 height: 12px;
	 z-index:32;
} 

 #Buttoncopy2_2 
{ 
	 left: 354px; 
	 top: 399px; 
	 position: absolute; 
	 width: 142px;
	 height: 42px;
	 z-index:33;
} 

 #Downloadcopy_0 
{ 
	 left: 402px; 
	 top: 415px; 
	 position: absolute; 
	 width: 69px;
	 height: 11px;
	 z-index:34;
} 

 #BoxIncomingcopy2_0 
{ 
	 left: 375px; 
	 top: 411px; 
	 position: absolute; 
	 width: 19px;
	 height: 16px;
	 z-index:35;
} 

 #Butoncopy2_0 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #LiveChatcopy_0 
{
    position: fixed;
    bottom: 100;
    right: 0;
}

 #SpeechBubblescopy2_0 
{
    position: fixed;
    bottom: 100;
    right: 0;
}
