<div style="border: 1px solid #fff;float:left;width:150px;margin:5px;padding:5px;border-radius:5px">
    <input {-$CHECKED} type="checkbox"  style="margin:8.5px 5px;float:left;display:block" class="share_check" name="shareCheck" value="{-$CUNITYIDTPL}{-$USERID}"/>
    <a href="profile.php?user={-$CUNITYIDTPL}{-$USERHASH}" style="float:left;display:block:width:30px"><img src="{-$AVATAR}" style="height: 30px; width:30px"/></a>
    <h3><a href="profile.php?user={-$CUNITYIDTPL}{-$USERHASH}" style="float:left;display:block;margin:5px 3px">{-$USERNAME}</a></h3>
    <div class="clear"></div>
</div>