<div class="main_list_wrap" style="height: 80px;" id="friend-{-$USERID}">
	<div class="main_list_img_wrap" style="width: 80px;">
        <a href="profile.php?user={-$CUNITYID}{-$USERHASH}"><img src="{-$AVATAR}" style="height: 80px; width:80px"></a>
	</div>
	<div class="main_list_cont" style="width: 200px;">	
		<a href="profile.php?user={-$CUNITYID}{-$USERHASH}" class="main_list_name">{-$USERNAME}</a>
		<div class="main_list_updated">{-$galleries_updated_on} {-$UPDATED}</div>
	</div>
	{-$BUTTONS2}
	<div class="main_list_photos" style="padding: 5px; display: none;">
	{-$BUTTONS}
	</div>	 	                                              
	<div class="clear"></div>
</div> 