<div class="main_list_wrap" style="height: auto; display:{-$DISPLAY};border-bottom:1px dashed #bcbcbc;padding:10px 0px" id="status-{-$STATUS_ID}">
    <div class="main_list_img_wrap" style="width: 50px;">
    <a href="profile.php?user={-$USERHASH}">{-$AVATAR}</a>
    </div>
    <div class="main_list_cont" style="width: 380px;">
        <a href="profile.php?user={-$USERHASH}" class="main_list_small_name">{-$USERNAME}</a> {-$USERNAME_EXTRA}                
        <div class="main_list_content">{-$STATUS_MESSAGE}</div>        
        <div class="main_list_status_bottom" style="vertical-align:bottom;">
            <span>{-$STATUS_TIME}</span>
        </div> 
    </div>                                                                                         
    <div class="main_list_right_cont" style="width: 100px; font-size: 11px; position: relative; display: none;" id="delete_status-{-$STATUS_ID}">
    <div id="buttonlist-{-$STATUS_ID}" class="pinboard_buttonslist buttonset">    
    <button onclick="like({-$STATUS_ID},{-$RESSOURCE_ID},'{-$STATUS_TYPE}');" class="jui-button" icon="ui-icon-heart" text="0" id="like_{-$STATUS_ID}" style="display: {-$LIKE_DISPLAY};">{-$pinboard_like}</button><button onclick="dislike({-$STATUS_ID},{-$RESSOURCE_ID},'{-$STATUS_TYPE}');" class="jui-button" text="0" icon="ui-icon-closethick" id="dislike_{-$STATUS_ID}" style="display: {-$DISLIKE_DISPLAY};">{-$pinboard_dislike}</button><button class="status_comment jui-button" icon="ui-icon-comment" text="0" id="{-$STATUS_ID}">{-$pinboard_comment}</button>{-$DROPDOWN_BUTTON}</div>
    <ul id="status_drop_{-$STATUS_ID}" class="ui-widget ui-widget-content ui-corner-all ui-menu status_dropdown_menu" style="display: none; width: 80px; position: absolute; right: 10px; top: 26px; text-align: left;">        
        <li class="ui-menu-item">
            <a class="ui-corner-all" href="javascript: deleteStatus({-$STATUS_ID})">{-$pinboard_delete_status}</a>
        </li>  
    </ul>
    </div>
        <!-- {-$RIGHT_CONT} -->
    <div id="likes_{-$STATUS_ID}" style="margin-left: 52px;" class="clear">{-$LIKES}</div>
    <div id="comments_box_{-$STATUS_ID}" style="margin-left: 52px;"><div id="comments_abs-{-$STATUS_ID}">{-$COMMENTS}</div>{-$NEW_COMMENT}</div>    
</div>