<div id="message-{-$MESSAGE_ID}">
<div class="triangle_wrap_{-$SENDER}">
	<div class="triangle_{-$SENDER}">&nbsp;</div>
</div>
<div class="message_{-$SENDER}">
	<div class="message_img_{-$SENDER}" title="{-$USERNAME}"><a href="profile.php?user={-$CUNITYID}{-$USERHASH}">{-$AVATAR}</a></div>
	<div class="message_main_content_{-$SENDER}">	
		<div class="message_content">{-$MESSAGE}</div>
		<div class="message_time_{-$SENDER}">{-$TIME}</div>
	</div>
	<div class="message_main_options_{-$SENDER}">
        <a href="javascript: deleteMessage({-$MESSAGE_ID});" class="deleteMessage ui-icon ui-icon-close">&nbsp;</a>
        <a title="{-$sentFrom}" class="ui-icon ui-icon-{-$sentIcon}">&nbsp;</a>
    </div>
</div>
<div class="clear"></div>
</div>
