<div class="line" id="comments-{-$STATUS_ID}" style="padding: 2px; width: 356px; display: {-$DISPLAY};">
    <div style="display: inline-block; padding: 1px; float: left;">
        <img src="{-$AVATAR}" id="comment_avatar-{-$STATUS_ID}" style="display: none; height: 40px; width: 40px;"/>
    </div>
    <div style="display: inline-block; float: left;">
    <script language="javascript" type="text/javascript">
    $("document").ready(function(){
        $("#comment_area-{-$STATUS_ID}")
            .live('focus', function(){
                $("#comment_avatar-{-$STATUS_ID}").show();
                $(this).width("300px");
            })
            .live('blur', function(){
                if($(this).val()=="")
                {
                    $("#comment_avatar-{-$STATUS_ID}").hide();
                    $(this).width("348px");                    
                }                    
            });
    })    
    </script>
    <textarea class="new_comment_area" name="comment" cols="47" rows="1" id="comment_area-{-$STATUS_ID}" style="width: 348px; height: 20px;"></textarea>
    <br />    
    <div id="send_comment-{-$STATUS_ID}" style="display: none;">
    <button class="jui-button" disabled="disabled" name="comment" style="float: right;font-size:10px;margin-right:4px" onclick="comment({-$STATUS_ID},{-$RESSOURCE_ID},'{-$STATUS_TYPE}');">{-$pinboard_comment}</button>
    <img src="style/{-$STYLE}/img/loading.gif" style="float: right; margin: 9.5px 8px 9.5px 8px; display: none;padding:2px" id="send_comment_load-{-$STATUS_ID}" />
    </div>    
    </div>
    <div class="clear"></div>
</div>