<div class="main_list_wrap" style="height: auto; display:{-$DISPLAY};" id="status-{-$STATUS_ID}">
    <div class="main_list_img_wrap" style="width: 50px;">
    <a href="profile.php?user={-$USERHASH}">{-$AVATAR}</a>
    </div>
    <div class="main_list_cont" style="width: 420px;">
    	<div style="min-height:50px;">
        <a href="profile.php?user={-$USERHASH}" class="main_list_small_name">{-$USERNAME}</a> {-$USERNAME_EXTRA}
        <div class="main_list_content">{-$STATUS_MESSAGE}</div>
        
        <div class="main_list_status_bottom">
            <span>{-$STATUS_TIME}</span> &#8226; 
            <span id="like_{-$STATUS_ID}" style="display: {-$LIKE_DISPLAY};"><span class="status_like" onclick="like({-$STATUS_ID},{-$RESSOURCE_ID},'{-$STATUS_TYPE}');">{-$pinboard_like}</span> &#8226;</span>
            <span id="dislike_{-$STATUS_ID}" style="display: {-$DISLIKE_DISPLAY};"><span class="status_dislike" onclick="dislike({-$STATUS_ID},{-$RESSOURCE_ID},'{-$STATUS_TYPE}');">{-$pinboard_dislike}</span> &#8226;</span> 
            <span class="status_comment" id="{-$STATUS_ID}">{-$pinboard_comment}</span>
        </div>
        </div>
        <div id="likes_{-$STATUS_ID}">{-$LIKES}</div>
    	<div id="comments_box_{-$STATUS_ID}"><div id="comments_abs-{-$STATUS_ID}">{-$COMMENTS}</div>{-$NEW_COMMENT}</div>
    </div>    
    {-$RIGHT_CONT}
    <div class="clear"></div>    	  
</div>