<div id="header">
<ul id="mainmenu" style="display: inline-block;">
	<li><a href="overview.php" {-$overview}>{-$admin_mainmenu_overview}</a></li>
	<li><a href="settings.php"{-$settings}>{-$admin_mainmenu_settings}</a></li>
	<li><a href="modules.php"{-$modules}>{-$admin_mainmenu_modules}</a></li>
    <li><a href="users.php"{-$users}>{-$admin_mainmenu_users}</a></li>
    <li><a href="registration.php"{-$registration}>{-$admin_mainmenu_registration}</a></li>
    <li><a href="round_mail.php"{-$round_mail}>{-$admin_mainmenu_round_mail}</a></li>
    <!--<li><a href="opencunity.php"{-$opencunity}>{-$admin_mainmenu_opencunity}</a></li>-->
	<li><a href="../index.php">{-$admin_mainmenu_home}</a></li>
</ul>
</div>