<h3>Open-Cunity - {-$admin_opencunity_registration}</h3>
<p>{-$admin_opencunity_register_info}</p>
<form action="opencunity.php?c=register" method="post" style="padding: 5px;"> 
<table>
  <tr>
    <td width="100px"><label for="pu">{-$admin_opencunity_purpose}:</label></td>
    <td><input type="text" name="purpose" size="100" id="pu"/></td>
  </tr>
  <tr>
    <td width="100px"><label for="co">{-$admin_opencunity_country}:</label></td>
    <td><select name="country">{-$countries}</select></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" value="{-$admin_opencunity_finish}"/></td>
  </tr>
</table>
</form>