<h3>{-$admin_settings_general_settings}</h3>

<div class="padder message">{-$MSG}</div>

<form method="POST" action="settings.php?c=general">

<table>

	<tr>
		<th colspan="3" class="tab_headline">{-$admin_settings_general_website}</th>
	</tr>
	<tr>
		<th class="padder tab_label">{-$admin_settings_general_website_name}</th>
		<td class="padder tab_value"><input type="text" name="name" value="{-$NAME}"></td>
		<td class="padder tab_value">{-$admin_settings_general_website_expl}
		<br><strong>{-$admin_settings_general_example}</strong> {-$admin_settings_general_car_expl1}</td>
	</tr>
	<tr>
		<th class="padder tab_label">{-$admin_settings_general_slogan}</th>
		<td class="padder tab_value"><input type="text" name="slogan" value="{-$SLOGAN}"></td>
		<td class="padder tab_value">{-$admin_settings_general_text}
		<br><strong>{-$admin_settings_general_example}</strong> {-$admin_settings_general_car_expl2}</td>
	</tr>
	<tr>
		<th class="padder tab_label">{-$admin_settings_general_design}</th>
		<td class="padder tab_value">
        <select name="design" style="width: 186px;">
			{-$DESIGNS}
		</select>
        <a href="javascript:void(0)" target="_blank" onclick="this.href='../pinboard.php?preview='+document.getElementsByName('design')[0].value;" style="vertical-align: middle;"><img src="style/default/img/preview.png" title="{-$admin_settings_general_preview}"/></a>		
		<td class="padder tab_value">{-$admin_settings_general_design_info}</td>
	</tr>	
	<tr>
		<th class="padder tab_label" style="padding: 0px 10px;">Design-Switch</th>
		<td class="padder tab_value" colspan="2" style="padding: 0px 5px;">
        <input type="checkbox" name="designswitch" {-$DESIGNSWITCH} id="designswitch" style="width: auto;" value="1"/>
        <label for="designswitch">{-$admin_settings_general_design_switch}</label>
	</tr>
	<tr>
		<th class="padder tab_label">{-$admin_settings_general_admin_design}</th>
		<td class="padder tab_value">
            <select name="admindesign" style="width: 186px;">
    			{-$ADMIN_DESIGNS}
    		</select>
    		<a href="javascript:void(0)" target="_blank" onclick="this.href='overview.php?preview='+document.getElementsByName('admindesign')[0].value;" style="vertical-align: middle;"><img src="style/default/img/preview.png" title="{-$admin_settings_general_preview}"/></a>
		</td>		
		<td class="padder tab_value">{-$admin_settings_general_admin_design_info}</td>
	</tr>
	<tr>
		<td colspan="3" class="tab_spacer">&nbsp;</td>
	</tr>
	<tr>
		<th colspan="3" class="tab_headline">{-$admin_settings_general_contact}</th>
	</tr>
	<tr>
		<th class="padder tab_label">{-$admin_settings_general_email}</th>
		<td class="padder tab_value"><input type="text" name="mail" value="{-$MAIL}"/></td>
		<td class="padder tab_value">{-$admin_settings_general_admin_email}</td>
	</tr>
	<tr>
		<td colspan="3" class="tab_spacer">&nbsp;</td>
	</tr>



	<tr>
		<th colspan="3" class="tab_headline">{-$admin_settings_general_save}</th>
	</tr>
	<tr>
		<td colspan="3" class="padder centered">
			<input type="submit" value="{-$admin_settings_general_save}" name="save" class="jui-button"/>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="tab_spacer">&nbsp;</td>
	</tr>

</table>

</form>