<h3>{-$admin_users_user}</h3>
<script language="javascript" type="text/javascript">
$("document").ready(function(){
    $("#yes").change(function(){
        $("#no_cell").removeClass();
        $("#no_cell").addClass("cell_none");
        $("#yes_cell").removeClass();
        $("#yes_cell").addClass("cell_on");
    })

    $("#no").change(function(){
        $("#yes_cell").removeClass();
        $("#yes_cell").addClass("cell_none");
        $("#no_cell").removeClass();
        $("#no_cell").addClass("cell_off");
    })
    
    $("#real").change(function(){
        $("#nick_cell").removeClass();
        $("#nick_cell").addClass("cell_none");
        $("#real_cell").removeClass();
        $("#real_cell").addClass("cell_on");
    })

    $("#nick").change(function(){
        $("#real_cell").removeClass();
        $("#real_cell").addClass("cell_none");
        $("#nick_cell").removeClass();
        $("#nick_cell").addClass("cell_on");
    })
})
</script>
<div id="change_success" style="display: none;">
    <div id="change_success_inner">
        <img src="style/default/img/check.png"/>{-$admin_users_saved_successfully}
    </div>
</div>
<form action="users.php?c=general" method="POST">
    <span>{-$admin_users_def_space}</span><br />
    <label for="space" style="font-weight: bold; font-size: 13px;">{-$admin_users_space}</label>
    <input type="number" id="space" name="space" style="width: 60px;" value="{-$SPACE}"/> <span style="font-size: 13px;">(MB)</span>
    <table border="0" id="reg_table">
        <tr>
            <th>
                {-$admin_users_notify_info}
            </th>
            <td width="100px">&nbsp;</td>
            <th>
                {-$admin_users_real_name_info}
            </th>
        </tr>
        <tr>
            <td>
                <label for="yes">
                    <div class="cell_{-$YES_POWER}" style="width: 200px;" id="yes_cell">
                    <input type="radio" name="notify_new_user" value="yes" style="width: auto;" {-$YES} id="yes"/>
                    {-$admin_users_yes}
                    </div>
                </label>
            </td>
            <td>&nbsp;</td>
            <td>
                <label for="real">
                    <div class="cell_{-$REALNAME}" style="width: 200px;" id="real_cell">
                    <input type="radio" name="user_name" value="full_name" style="width: auto;" {-$REAL} id="real"/>
                    {-$admin_users_real_names}
                    </div>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="no">
                    <div class="cell_{-$NO_POWER}" style="width: 200px;" id="no_cell">            
                    <input type="radio" name="notify_new_user" value="no" style="width: auto;" {-$NO} id="no"/>
                    {-$admin_users_no}
                    </div>
                </label>
            </td>
            <td>&nbsp;</td>
            <td>
                <label for="nick">
                    <div class="cell_{-$NICKNAME}" style="width: 200px;" id="nick_cell">
                    <input type="radio" name="user_name" value="nickname" style="width: auto;" {-$NICK} id="nick"/>
                    {-$admin_users_nicknames}
                    </div>
                </label>
            </td>
        </tr>

    </table>
    <br />
    <input type="submit" value="{-$admin_users_save}" class="jui-button" name="send"/>
</form>