<div id="info_content">
    <div id="mini_profile">
        <a href="profile.php"><img src="{-$AVATAR}" width="70px" height="70px" id="mini_profile_img"/></a>
        <div id="mini_profile_info">
            <div id="mini_profile_name"><a href="profile.php">{-$USERNAME}</a></div>
            <span id="mini_profile_edit"><a href="profile.php?c=edit">{-$edit_profile}</a></span><br />
            <span id="mini_profile_img"><a href="profile.php?c=edit&do=img">{-$edit_img}</a></span><br />
        </div>
    </div>
    <div id="head_content" style="padding-top: 50px;">       
    </div>
</div>
<div id="inner_content">    
    <div id="main_content">
    <div class="message_red">{-$ERROR}</div>