<h2 class="small" style="color: #034E9B; font-size: 11px; padding: 0px; margin-top: -10px;">{-$DESCRIPTION}</h2>
{-$MOREPHOTOS}
<script language="javascript" type="text/javascript">
        $(document).ready(function(){
            $(".gal_thumb").each(function(){
                var el = this;
                var comments = $(el).attr('comments');
                $(el).badger(comments);
            })
        })
        </script>

{-if OWN_GALLERY}
{-$DELETE_SCRIPT}
<ul class="button_list">
    <li onclick="location.href='galleries.php'">{-$galleries_back}</li>
    <li onclick="location.href='galleries.php?c=upload&id={-$ALBUM_ID}'">{-$galleries_add_images}</li>
    <li onclick="location.href='galleries.php?c=edit&id={-$ALBUM_ID}'">{-$galleries_edit}</li>
    <li onclick="delAlbum()">{-$galleries_del_album}</li>
</ul>
<br />
{-/if} {-if GALLERY_ADMIN}
{-$DELETE_ADMIN_SCRIPT}
<ul class="button_list">
<li onclick="location.href='galleries.php'">{-$galleries_back}</li>
<li onclick="delAlbumAdmin()">{-$galleries_del_album}</li>
</ul>
<br />
{-/if} {-if ALL_OF_ALL}
<ul class="button_list">
<li onclick="location.href='galleries.php'" style="float: left;">{-$galleries_back}</li>
</ul>
<form action="galleries.php" name="sorting" method="get"
	style="float: right; margin-right: 20px;">
    <label for="sorting">{-$galleries_sorting}</label>
<select onchange="document.sorting.submit()" name="sort">
	<option value="none"{-$sortNone}>{-$galleries_sort_none}</option>
	<option value="users"{-$sortUsers}>{-$galleries_sort_users}</option>
	<option value="album"{-$sortAlbum}>{-$galleries_sort_albums}</option>
</select> 
<input type="hidden" value="show_album" name="c" /> <input
	type="hidden" value="{-$ALBUM_ID}" name="id" />
</form>
<br class="clear" />
{-/if} {-if PUBLIC_ALBUM}
<ul class="button_list">
<li onclick="location.href='galleries.php'">{-$galleries_back}</li>
</ul>
<br />
{-/if} {-if ALL_OF_ALL} {-$IMAGES} {-else}
<h1>{-$galleries_photos}</h1>
<div id="photosContainer">
{-$IMAGES}</div>
<div id="morephotoslinks" align="center">{-$MOREPHOTOS}</div>

{-/if}

<input type="hidden" id="loadingStatus" name="loadingStatus"
	value="false">
<input type="hidden" id="worker" name="worker" value="true">