{-if OWN_GALLERY}
<ul class="button_list">
    <li onclick="location.href='galleries.php?c=new_album'">
        {-$galleries_new_album}
    </li>
    <li onclick="location.href='galleries.php?c=galleries&list=own'">
        {-$galleries_list_my}
    </li>
    <li onclick="location.href='galleries.php?c=galleries&list=all'">
        {-$galleries_list_all}
    </li>
    <li onclick="location.href='galleries.php?c=galleries&list=friends'">
        {-$galleries_list_friends}
    </li>
</ul>
<p>&nbsp;</p>
<img src="style/modern/img/h1_line.png" width="100%"/>
{-/if}
{-$GALLERIES}