<ul class="button_list">
        {-if SINGLE_UPLOAD}
        <li onclick="location.href='galleries.php?c=upload&id={-$ALBUM_ID}'">{-$galleries_upload_multi_uploader}</li>
        {-else}
        <li onclick="location.href='galleries.php?c=single_upload&id={-$ALBUM_ID}'">{-$galleries_upload_single_uploader}</li>
        {-/if}
        <li onclick="location.href='galleries.php?c=show_album&id={-$ALBUM_ID}'">{-$galleries_upload_back_album}</li>        
</ul>
        <h1>{-$galleries_upload_single_select}</h1>
        <div style="margin: 10px; font-size: 14px;">
        <span id="space_left">{-$left}MB {-$galleries_space_left}! (~ {-$photos_left})</span>
        <div id="progressbar" style="width:200px; height:15px"></div>
        <script>
            $(document).ready(function() {
              $("#progressbar").progressbar({ value: {-$percentage} });
            });
        </script>
        <p>{-$galleries_upload_single_desc}</p>
        <p>&nbsp;</p>        
        <form action="galleries.php?c=uploadfile&id={-$ALBUM_ID}" name="form_fu1" method="POST" target="ifu1" enctype="multipart/form-data">
			<input id="fu1" name="fu" type="file"/>
			<span id="fu1_sub"></span>
			<input type="hidden" name="form" value="1"/>
			<iframe id="ifu1" name="ifu1" style="display: none;"></iframe>
		</form>

		<form action="galleries.php?c=uploadfile&id={-$ALBUM_ID}" name="form_fu2" method="POST" target="ifu2" enctype="multipart/form-data">
			<input id="fu2" name="fu" type="file"/>
			<span id="fu2_sub"></span>
			<input type="hidden" name="form" value="2"/>
			<iframe id="ifu2" name="ifu2" style="display: none;"></iframe>
		</form>

		<form action="galleries.php?c=uploadfile&id={-$ALBUM_ID}" name="form_fu3" method="POST" target="ifu3" enctype="multipart/form-data">
			<input id="fu3" name="fu" type="file"/>
			<span id="fu3_sub"></span>
			<input type="hidden" name="form" value="3"/>
			<iframe id="ifu3" name="ifu3" style="display: none;"></iframe>
		</form>
    </fieldset>
	<fieldset id="uploaded_files" style="display:none;">
	</fieldset>
{-$SINGLEUPLOAD_SCRIPT}
 	</div>