<!DOCTYPE HTML>
<html>
<head>
<title>{-$TITLE} - {-$cunitysettings.name}</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="{-$SLOGAN}"/>
<link href="style/newcunity/img/icon.gif" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="includes/jScrollPane/jquery.jscrollpane.css"/>
<link rel="stylesheet" type="text/css" href="includes/jGallery/jGallery.css"/>
<link rel="stylesheet" type="text/css" href="style/newcunity/styles.css" />
<link rel="stylesheet" href="style/newcunity/apprise.css" type="text/css" />
<link rel="stylesheet" type="text/css" media="all" href="style/newcunity/jqueryui/jqueryui.css"/>
<link rel="stylesheet" type="text/css" media="all" href="includes/sticky/sticky.full.css"/>
<link rel="stylesheet" type="text/css" href="includes/uploadify/uploadify.css"/>
{-if $module.chat}
<link type="text/css" rel="stylesheet" media="all" href="style/newcunity/chat.css" />
<link type="text/css" href="includes/jScrollPane/jquery.jscrollpane.css" rel="stylesheet" media="all" />
<!-- [if IE]>
<style>
.chatBoxDialog {
	position: absolute;
}
</style>
<![endif]-->
{-/if}
<!--[if IE]>
<style>
.main_nav ul li:hover {
    color: #333;
}

.notifications button {
    position: static;
    left: 0px;
    top: 0px;
}

.notifications {
    margin-top: 2px;
}
</style>
<![endif]-->
<script language="javascript" type="text/javascript" src="includes/jquery/jquery.js"></script>
<script type="text/javascript" src="includes/jScrollPane/jquery.jscrollpane.min.js"></script>
<script src="includes/uploadify/jquery.uploadify-3.1.min.js"></script>
<script language="javascript" type="text/javascript" src="includes/jquery/jquery-ui-1.8.7.custom.min.js"></script>
<script language="javascript" type="text/javascript" src="includes/jqueryothers/jquery.qtip-1.0.0-rc3.min.js"></script>
<script type="text/javascript" src="includes/jqueryothers/spin.min.js"></script>
{-if LOGIN}
	{-if $module.chat}
		<script type="text/javascript" src="includes/jScrollPane/jquery.mousewheel.js"></script>
		{-$SCRIPT-CHAT}
	{-/if}
	<script language="javascript" type="text/javascript" src="includes/jqueryothers/jquery.watermarkinput.js"></script>
	<script language="javascript" type="text/javascript" src="includes/sticky/sticky.full.js"></script>
{-/if}
{-$SCRIPT-APPRISE}
</head>
<body>
    <noscript><strong>{-$overall_header_attention}</strong>
{-$overall_header_javascript} <a
	href="http://www.google.com/support/bin/answer.py?answer=23852"
	target="_blank"> {-$overall_header_here}</a>.</noscript>
{-if $module.messages}
<div id="newMessageDiv" title="{-$inbox_new_message}" style="width: 500px; display: none;text-align:left;">
	<label for="sendMessageReceiver">{-$conversation_receiver}</label>
	<br/>
	<input type="text" name="receiver" id="sendMessageReceiver" style="width: 200px;"/>
	<input type="hidden" id="sendMessageReceiver_id_input" name="receiver_data"/>
	<br />
	<label for="sendMessagemsgTa">{-$conversation_message}</label>
	<textarea id="sendMessagemsgTa" style="width: 500px; height: 270px;" name="message"></textarea>
</div>
<script language="javascript" type="text/javascript">
function imgLoadCheck(){
	$("img").error(function(){
    	$(this).attr('src','style/{-$STYLE}/img/no_avatar.jpg');
    })
}

function newMessage(name,userid,userhash,cid){
	$("#newMessageDiv").dialog({
		width:547,
		height:430,
		buttons: {
			"{-$inbox_close}": function(){
				$(this).dialog('close');
			},
			"{-$conversation_send}":function(){
				sendMessage($('#msgTa').val());
			}
		}
	});
	if(name!=""&&userhash!=""&&userid>0){
        $("#sendMessageReceiver").val(name).attr("disabled","disabled");
        $("#sendMessageReceiver_id_input").val(cid+"-"+userid+"-"+userhash);
    }
}
function sendMessage(){
	if($("#sendMessageReceiver_id_input").length>0){
		var data = '{"action":"sendMessage","receiverData":"'+$("#sendMessageReceiver_id_input").val()+'","message":"' + $("#sendMessagemsgTa").val() + '"}';
		$.post("controllers/ajaxMessageController.php", {json_data : data}, function(jData) {
			if(jData.status==1){
                $("#newMessageDiv").dialog('close');
				apprise("{-$inbox_message_sent}<br/>"+jData.cLink);
				$("#sendMessagemsgTa").val("");
				$("#sendMessageReceiver_id_input").val("");
				if(document.URL.indexOf("messages.php") >= 0)
                    loadConversations();
			}else
				apprise("An Error occurred! Please try again later!");
	    }, "json");
	}else{
		apprise("{-$inbox_no_receiver}");
	}
}
</script>
{-/if}
<!--Header Start--->
<div class="header">
<div class="headercon">
	<!--Logo Start--->
	<div class="logo">
	{-$HEADER}
	</div>
	<!--Logo Start--->

	<!--Welcome  MSG! End--->
	<div class="welcome-msg">
	<ul>
		<li>{-$overall_header_welcome}</li>
		<li>|</li>
        {-if LOGIN}
		<li style="padding-left: 1px;"><span class="ui-icon ui-icon-power" style="display:inline-block">&nbsp;</span><a href="register.php?c=logout">{-$menu_logout}</a></li>
		{-else}
		<li><a href="register.php">{-$menu_register}</a></li>
		{-/if}
	</ul>
	</div>
	<!--Welcome  MSG End--->
</div>
</div>
<div class="clear"></div>
<!--Header End--->

<!--body--->
<div class="wrapper">
   <script type="text/javascript">
$(document).ready(function(){
    $(".show_notifications").click(function() {
        if(!$("#notification_content").is(":visible"))
            $("#notification_content").slideDown(400);
        else
            $("#notification_content").slideUp(400);
    });

    $(".main_nav ul li").not('.active')
        .mouseover(function(){
            $(this).addClass('active');
            $(this).children().css('color', 'white');
        })
        .mouseout(function(){
            $(this).removeClass('active');
            $(this).children().css('color', 'black');
        })
        .click(function(){
            location.href=$(this).children('a').attr('href');
        })
});
</script>
	<!--Top Bar Start --->
	<script language="javascript" type="text/javascript">
    function refreshNotifications(){
        var dataValues = '{"action": "getFullNotifications"}';
    	$.post("controllers/ajaxNotificationController.php", {json_data : dataValues},
    	function(data){
    		if(data.status >= 1)
    			$("#notification_status").attr('src', 'style/{-$STYLE}/img/new_notifications.png');
    		else
                $("#notification_status").attr('src', 'style/{-$STYLE}/img/notifications_empty.png');
            $("#notification_count").html(data.status);
            $("#notification_content").html(data.notifications);
            var c = data.newest.length;
            for(var i = 0; i < c; i++)
                $.sticky(data.newest[i]);
    	}, "json");
    }

    function NotificationRead(id){
        var dataValues = '{"action": "readNotification","id": "' + id + '"}';
    	$.post("controllers/ajaxNotificationController.php", {json_data : dataValues},function(){
        },"json");
        return true;
    }

    function refreshButtons(){
        $(".jui-button").each(function(){
            if($(this).attr('text')!==undefined)
                var t = Boolean(Number($(this).attr('text')));
            else
                var t = true;
            if($(this).attr('icon')!==undefined){
                if($(this).attr('icon2')!==undefined){
                    $(this).button({
                        icons: {
                            primary: $(this).attr('icon'),
                            secondary: $(this).attr('icon2')
                        },
                        text: t
                    });
                }else{
                    $(this).button({
                        icons: {
                            primary: $(this).attr('icon')
                        },
                        text: t
                    });
                }
            }else if($(this).attr('icon2')!==undefined){
                if($(this).attr('icon')!==undefined){
                    $(this).button({
                        icons: {
                            primary: $(this).attr('icon'),
                            secondary: $(this).attr('icon2')
                        },
                        text: t
                    });
                }else{
                    $(this).button({
                        icons: {
                            secondary: $(this).attr('icon2')
                        },
                        text: t
                    });
                }
            }else
                $(this).button();
        })
        $(".buttonset").buttonset();
    }

    $("document").ready(function(){
        $("#notification_headline").click(function(){
            $("#notifications_list").toggle("fast");
        });

        $(".notification_unread").live('mouseenter', function(){
            var el = this;
            var dataValues = '{"action": "readNotification","id": "'+$(this).attr('id')+'"}';
    		$.post("controllers/ajaxNotificationController.php", {json_data : dataValues}, function(){
                $(el)
                    .removeClass('notification_unread');

            },"json");
        })
    refreshButtons();
    {-if LOGIN}
    refreshNotifications();

    window.setInterval('refreshNotifications()', 30000);
    {-/if}
    })
    </script>
   <div class="top_bar">
		<div class="top_bar_a"></div>
		<div class="top_bar_b">
        {-if LOGIN}
		<!-- Notification start -->
			<div class="notifications">
			<button class="bordered_button show_notifications" style="margin: 0px; float: left;">{-$notifications_header}</button>
            <a style="float: left;" href="notifications.php" class="link">{-$notifications_header} (<span id="notification_count">0</span>)</a>
            <img src="style/newcunity/img/notification-downarrow.png" alt="{-$menu_notifications}" class="show_notifications img"/>
            <div class="clear"></div>
            <div id="notification_content" style="display: none;"></div>
			</div>
		<!-- Notification start -->
        {-/if}
		</div>
		<div class="top_bar_c"></div>
   </div>
	<!--Top Bar End --->

	<!--body--->
	<div class="a_side">

		<div class="a_side_a"></div>
		<div class="a_side_b">

        {-if LOGIN}
		<!-- Profile -->
			<div class="profile_main">
				<a href="profile.php" style="display:block;"><img src="{-$AVATAR}"/></a>
				<h1><a href="profile.php">{-$USERNAME}</a></h1>
		  </div>
		<!-- Profile End -->
		{-else}
		    <div class="main_nav">
		      <ul>
		        {-if $FILE == "start"}
		        <li><a href="register.php"><img src="style/newcunity/img/plus.png" alt="{-$menu_register}"/>{-$menu_register}</a></li>
		        {-else if $FILE == "register"}
		        <li><a href="start.php"><img src="style/newcunity/img/home.png" alt="Start"/>Start</a></li>
                {-/if}
                <li><a href="pages.php?id=privacy"><img src="style/newcunity/img/members.png" alt="{-$menu_privacy}"/>{-$menu_privacy}</a></li>
                <li><a href="pages.php?id=terms"><img src="style/newcunity/img/forums.png" alt="{-$menu_terms}"/>{-$menu_terms}</a></li>
                <li><a href="pages.php?id=imprint"><img src="style/newcunity/img/imprint.png" alt="{-$menu_imprint}"/>{-$menu_imprint}</a></li>
                <li><a href="javascript: contact();"><img src="style/newcunity/img/inbox.png" alt="{-$menu_contact}"/>{-$menu_contact}</a></li>
              </ul>
		    </div>
		{-/if}
		</div>
		<div class="a_side_c"></div>
		{-if LOGIN}
		<div class="a_side_a"></div>
		<div class="a_side_b" style="text-align: right;">
            <script language="javascript" type="text/javascript">
            $("document").ready(function(){$("#searchside").Watermark("{-$pages_search_member}");})
            </script>
            <form action="friends.php" method="GET">
            <img src="style/newcunity/img/magnifier-zoom.png" style="display: inline-block; vertical-align: middle; width: 16px; height: 16px;"/>
            <input name="q" type="text" style="display: inline-block; vertical-align: middle; margin-right: 10px; width: 115px;" id="searchside"/>
            </form>
		</div>
		<div class="a_side_c"></div>

		<!-- Side Menu Container Start -->
		<div class="a_side_a"></div>
		<div class="a_side_b">

		<!-- Side Menu Start -->
		<div class="main_nav">
			<ul>
				{-$MENU}
                {-if ADMIN}
                <li><a href="admin/index.php"><img src="style/newcunity/img/burn.png" alt="{-$menu_administration}"/>{-$menu_administration}</a></li>
                {-/if}
			</ul>
		</div>
		<!-- Side Menu End -->

		</div>
		<div class="a_side_c"></div>

		<!-- Side Menu Container End -->
        {-/if}
        <div class="a_side_a"></div>
		<div class="a_side_b" style="text-align: right;" title="{-$change_language}">
		    <form id="languageswitch" method="POST">
                <img src="style/thecunity/img/{-$LANG}.png" style="display: inline-block; vertical-align: middle;"/>
                <select style="display: inline-block; vertical-align: middle; margin-right: 10px; width: 125px;" name="languageswitch" onchange="document.getElementById('languageswitch').submit();">
                    {-$LANGUAGES}
                </select>
            </form>
		</div>
		<div class="a_side_c"></div>
		{-if $cunitysettings.designswitch == 1}
		<div class="a_side_a"></div>
		<div class="a_side_b" style="text-align: right;" title="{-$switch_design}">
		    <form method="POST" id="designswitchform">
	            <img src="style/newcunity/img/icons_gallery.png" style="display: inline-block; vertical-align: middle; width: 16px; height: 16px;"/>
	            <select style="display: inline-block; vertical-align: middle; margin-right: 10px; width: 125px;" onchange="document.getElementById('designswitchform').submit();" name="switch-design">
	                {-$DESIGNS}
	            </select>
            </form>
		</div>
		<div class="a_side_c"></div>
		{-/if}
	</div>

	<div class="main">
		<div class="main_a"></div>
		<div class="main_b">

		<!-- Main Col A Start -->
		<div class="main_page_col_a">