{-$SCRIPT-PROFILE_VIEW}
{-$SCRIPT-PINBOARD}
<script type="text/javascript" src="includes/jGallery/jGallery.js"></script>
<script language="javascript" type="text/javascript">
$("document").ready(function(){
    {-if $FRIENDS != ""}
    /*var data = '{"c":"myFriends","userid": "{-$FULL_ID}","target":"sidebar"}';
	$.post("controllers/ajaxFriendsController.php", {json_data:data},
		function (data_back) {
            $("#friends_sidebar").html('<a href="friends.php?user={-$FULL_ID}">{-$NAME}{-$profile_view_friends_of}('+data_back.count+')</a><br />');

			$("#friends_sidebar").append(data_back.messages);
		}, "json");*/
	{-/if}

    {-if $PINBOARD_VIEW == 1}
    $("#watermark").keyup(function(){
        var el = this;
        var str = new String($(el).val());
        if(str.length > 0 && str != " " && str != "{-$pinboard_status_watermark_profile}"){
            $("#share_button_wrap").slideDown();
        }else
            $("#share_button_wrap").slideUp();
    })
    {-/if}
})

</script>
<!-- Main Blue bar Start -->
<div class="bar">
	<div class="bar-sub-a"></div>
	<div class="bar-sub-b">
		<h1>{-$NAME}</h1>
	</div>
	<div class="bar-sub-c"></div>
</div>
<!-- Main Blue bar End -->
<div class="clear"></div>
<!-- Profile Box Start -->
<div class="profile">	
	<div style="text-align: right; position: relative; margin-bottom: 10px;">
        {-if OWN}
        <button class="jui-button" icon="ui-icon-gear" onclick="location.href='profile.php?c=edit&do=general'">{-$profile_view_profile_edit}</button>
        {-/if}
        {-if SEND_MESSAGE_BOOL}
        <button onclick="newMessage('{-$NAME}',{-$ID},'{-$FULL_ID}',{-$CUNITYID});" class="jui-button" icon="ui-icon-mail-closed">{-$profile_view_send_message}</button>
        {-/if}
        {-if $CHAT_BOOL}
        <button class="jui-button" icon="ui-icon-comment" onclick="chatWith('{-$CUNITYID}-{-$ID}','{-$NAME}');">{-$profile_view_chat}</button>
        {-/if}
        {-if !OWN}
        <div style="display: inline;" class="buttonset"><button class="jui-button" icon="{-$addFriendIcon}" id="friendbutton-{-$ID}" value="{-$friendstatus}">{-$addFriendText}</button><button class="jui-button" icon="ui-icon-triangle-1-s" text="0">{-$profile_view_friends_options}</button></div>
        <ul id="friends_dropdown" class="ui-widget ui-widget-content ui-corner-all ui-menu" style="display: none; width: 160px; position: absolute; right: 4px; top: 100%; text-align: left;">
            {-if $friendstatus=='friends'}
            <li class="ui-menu-item" id="deletefriend">
                <a class="ui-corner-all" href="javascript: deleteFriend({-$ID},'{-$USERDATA}',{-$REMOTE},reload);">{-$friends_delete_friend}</a>
            </li>             
            {-/if}
            {-if $friendstatus=='sentrequest'||$friendstatus=='receivedrequest'}
            <li class="ui-menu-item">
                <a class="ui-corner-all" href="javascript: removeRequest({-$ID},'{-$USERDATA}',{-$REMOTE},reload);">{-$friends_remove_request}</a>
            </li>
            {-/if}
            <li class="ui-menu-item">
                <a class="ui-corner-all" href="javascript: blockFriend({-$ID},'{-$USERDATA}',{-$REMOTE},reload);">{-$friends_block}</a>
            </li>
            <!--
            <li class="ui-menu-item">
                <a class="ui-corner-all" href="javascript: ">{-$profile_view_report}</a>
            </li>          -->
        </ul>
        {-/if}
    </div>
    
    <!-- Picture Box Start  -->
	<div class="profile-box">
		<div class="profile-box-pic">
		<img src="{-$PROFILE_PIC}" style="cursor: pointer;width:200px;height:auto"/>
		</div>

    {-if $SAMPLE_PHOTOS != "" && $PRIVACY == 1}
	<div class="small_info_1" style="margin-top: 10px;"></div>
    <div class="small_info_2" style="width: 180px; height: 128px;" id="albums">
        <a href="galleries.php?user={-$FULL_ID}" style="margin-left: 8px;">{-$NAME}{-$profile_view_his_galleries}</a>
        <div style="padding: 5px 8px;">
        {-$SAMPLE_PHOTOS}
        </div>
    </div>
    <div class="small_info_3"></div>
    {-/if}
	</div>
	<!-- Picture Box End  -->

	<!-- Profile Info Start -->
	<div class="profile-info">     
    <div class="main_info_1"></div>
    <div class="main_info_2">
        <div class="info_line">
            <div class="info_label">{-$profile_view_nickname}:</div><span class="info_value">{-$NICK}</span>
        </div>
        <div class="info_line">
            <div class="info_label">{-$profile_view_name}:</div><span class="info_value">{-$FULL_NAME}</span>
        </div>
        <div class="info_line">
            <div class="info_label">{-$profile_view_birthday}:</div><span class="info_value">{-$BIRTH}</span>
        </div>
        <div class="info_line">
            <div class="info_label">{-$profile_view_registered}:</div><span class="info_value">{-$REGISTERED}</span>
        </div>
        <div class="info_line">
            <div class="info_label">{-$profile_view_updated}:</div><span class="info_value">{-$UPDATED}</span>
        </div>
        {-if RELATIONSHIP}
        <div class="info_line">
            <div class="info_label">{-$profile_view_relationship}:</div><span class="info_value" id="relationship">{-$RELATIONSHIP}</span>
        </div>
        {-/if}
        {-if INTERESTED}
        <div class="info_line">
            <div class="info_label">{-$profile_view_interested}:</div><span class="info_value" id="interested">{-$INTERESTED}</span>
        </div>
        {-/if}
        {-if ABOUT}
        <div class="info_line">
            <div class="info_label">{-$profile_view_about}:</div><div class="info_value" style="text-align: justify;">{-$ABOUT}</div>
        </div>
        {-/if}
    </div>
    <div class="main_info_3"></div>	
    
    <div class="main_info_1" style="margin-top: 10px;"></div>
    <div class="main_info_2">
        <div class="info_line">
            <div class="info_label">{-$profile_view_email}:</div><span class="info_value" id="mail">{-$MAIL}</span>
        </div>
        {-$CONTACT}
    </div>
    <div class="main_info_3"></div>

    {-if EXTRA}
    <div class="main_info_1" style="margin-top: 10px;"></div>
    <div class="main_info_2">
        {-$ADDED}
    </div>
    <div class="main_info_3"></div>
    {-/if}    
	<!-- Grid Start -->

	</div>
	<!-- Profile Info End -->
    <div class="clear"></div>
</div>
<!-- Profile Box End -->


<!-- Box A Buttons box Start -->

{-if $PINBOARD_VIEW == 1}
<div class="box-main-a">
	<div class="box-main-a-1"></div>
	<div class="box-main-a-2">
        <div id="video" style="float: left; border: 1px solid #ccc; border-radius: 5px; display: none"></div>
		<div id="video" style="float: left; border: 1px solid #ccc; border-radius: 5px; display: none"></div>
               <div id="image" style="float: left; border: 1px solid #ccc; border-radius: 5px; display: none">
				<textarea class="input" id="watermark_image" name="watermark" style="width: 494px; background-color: #FFFFFF; border: 0px; border-radius: 5px; height: 50px; padding: 3px;"></textarea>
				<div id="img_upload_container" style="border-top: 1px dashed #ccc;">
					<form action="controllers/ajaxPinboardController.php" target="imgUploadFrame" id="imgUploadForm" style="width: 490px; padding: 3px 5px;" enctype="multipart/form-data" method="post">
						<div id="imgUploadFormLeft" style="float: left; width: 250px">
						<label for="pinimg"><small>Select an image to upload!</small></label>
						<br/>
						<input type="file" name="pinimg" id="imgUploadInput" style="border: 0px; padding-left: 0px;"/>
						<input type="hidden" name="json_data" value='{"p":"{-$PINBOARD_ID}","r":"{-$PINBOARD_RECEIVER}","c":"imgUpload"}'/>
                           <input type="hidden" name="status_message" value="undefined" id="imgUploadMessage"/>							
						</div>
						<iframe name="imgUploadFrame" id="imgUploadFrame" style="display: none;"></iframe>							
						<small style="color: #aaa; display:block" class="clear">You can upload images in JPG,png,gif format!</small>
					</form>
				</div>                
               </div>
               <div id="url"></div>
               <div id="status" style="float: left;">
                   <textarea class="input" id="watermark" name="watermark" style="width: 493px; background-color: #FFFFFF; border: 1px solid #ccc; border-radius: 5px; height: 50px; padding: 3px;"></textarea>                    
               </div>
               <div style="float: left; padding: 2px; padding-left: 5px;">
               	<a href="javascript: showStatus();" id="showStatusDiv" style="display:block;width:22px;height:22px" title="{-$pinboard_share_image}"><img src="style/newcunity/img/newspaper.png" style="padding: 3px;"/></a>
                   <a href="javascript: shareImage();" id="showImageDiv" style="display:block;width:22px;height:22px" title="{-$pinboard_share_image}"><img src="style/newcunity/img/gallery.png" style="padding: 3px;"/></a>
                   <!-- <a href="javascript: shareUrl();" style="display:block" title="{-$pinboard_share_url}"><img src="style/newcunity/img/upload_file.png" style="padding: 3px;"/></a> -->
               </div>
               <div class="clear"></div>
    </div>
	<div class="box-main-a-3"></div>
<!-- Box A  Sub Start -->
<div id="share_button_wrap" style="display: none;">
<div class="box-main-a-sub-1">
	<div class="comment-share-btn" id="button">
	<img id="watermark_loader" src="style/newcunity/img/loading.gif" style="float: left; margin: 5px 10px; display: none;"/>
	<!-- <button>{-$pinboard_share_settings}</button> -->
	<button id="share_button" class="jui-button" onclick="shareStatus();">{-$pinboard_post}</button>
	<div class="clear"></div>
	</div>
    <div class="clear"></div>
</div>
<div class="box-main-a-sub-2"></div>

<!-- Box A  Sub End -->
</div>
</div>
<!-- Box A Buttons box End -->
<div class="line-grey"></div>
 
<div id="wall">
</div><div id="pinBoard"></div>
<div id="divLoadMoreStatus" style="display:none;text-align:center">
    <img src="style/default/img/load_big.gif" id="moreStatusLoad" style="display: none; margin: 5px;"/>
    <button  onclick="loadMoreStatus();" class="jui-button" id="submitLoadMoreStatus" icon="ui-icon-plus" icon2="ui-icon-plus">{-$pinboard_more}</button>
</div>
{-/if}