<div class="bar">
	<div class="bar-sub-a"></div>
	<div class="bar-sub-b">
		<h1>{-$register_update}</h1>
	</div>
	<div class="bar-sub-c"></div>
</div>
<div class="box-main-a-1" style="margin-top: 10px;"></div>
<div class="box-main-a-2 options-a-2">
<p style="font-size: 13px;">{-$register_update_info}</p>
{-$MSG}
<form action="register.php?c=edit_fields" method="POST" id="register_form">
<style>
#regEditTable td {
    padding: 5px !important;
}
</style>
<table id="regEditTable" width="531px" style="font-size:12px;">
<colgroup>
	<col width="180px"/>
	<col width="351px"/>
</colgroup>
{-$LIST}
</table>
<input type="submit" name="send" value="{-$register_save}" class="jui-button" style="float: right; margin: 10px;"/>
<div class="clear"></div>
</form>
</div>
<div class="box-main-a-3"></div>